In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/PyP/Datasets/Datos duplicados/PyP_telefonos_2402_duplicados.csv')

In [4]:
df.head()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
0,DNI 35923953,DNI,35923953,20359239530,TEL.FIJO,PERSONAL,2644231196,Propio,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0
1,DNI 35923953,DNI,35923953,20359239530,TEL.FIJO,LABORAL,3546463805,Ajeno_empleador,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,1.0
2,DNI 35923953,DNI,35923953,20359239530,TEL.FIJO,LABORAL,3546463806,Ajeno_empleador,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,1.0
3,DNI 35923953,DNI,35923953,20359239530,TEL.FIJO,PERSONAL,2644231196,Ajeno_familiar,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0
4,DNI 35923953,DNI,35923953,20359239530,TEL.CELULAR,PERSONAL,2646737373,Ajeno_familiar,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0

In [5]:
df.shape

(4183, 14)

In [6]:
df = df.drop_duplicates()

In [7]:
df.shape

(4183, 14)

## Dato a str + strip()

In [8]:
df ['DATO'] = df['DATO'].astype(str)

In [9]:
df['DATO'] = df['DATO'].str.strip()

## Verificados

Si verificado es false, pasamos a NaN la fecha de verificaci√≥n

In [10]:
df.loc[df['VERIFICADO'] == 0, 'FECHA_VERIFICACION'] = np.nan

In [11]:
df.tail()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
4178,DNI 30749617,DNI,30749617,20307496179,TEL.FIJO,PERSONAL,1144633936,Ajeno,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0
4179,DNI 22244613,DNI,22244613,27222446134,TEL.FIJO,PERSONAL,3414578578,Ajeno,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0
4180,DNI 2080464,DNI,2080464,27020804640,TEL.FIJO,PERSONAL,3424833473,Ajeno,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0
4181,DNI 30529846,DNI,30529846,27305298463,TEL.FIJO,PERSONAL,2920432065,Ajeno,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0
4182,DNI 30906890,DNI,30906890,23309068904,TEL.FIJO,PERSONAL,3814830545,Ajeno,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0

# Subset: Duplicados

Me quedo con los todos los que tienen duplicados la combinatoria IDMOROSO, DATO y PROVEEDOR DATO, y reviso qu√© pasa en cada caso

In [12]:
duplicates_subset = df[df.duplicated(subset=['IDMOROSO','DATO','PROVEEDOR_DATO'],keep=False)]

In [13]:
duplicates_subset.head()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
0,DNI 35923953,DNI,35923953,20359239530,TEL.FIJO,PERSONAL,2644231196,Propio,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0
3,DNI 35923953,DNI,35923953,20359239530,TEL.FIJO,PERSONAL,2644231196,Ajeno_familiar,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0
5,DNI 27244548,DNI,27244548,20272445487,TEL.FIJO,PERSONAL,1147409350,Propio,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0
7,DNI 27244548,DNI,27244548,20272445487,TEL.FIJO,PERSONAL,1147409350,Ajeno_familiar,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0
24,DNI 38608367,DNI,38608367,27386083679,TEL.FIJO,PERSONAL,2284431449,Propio,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0

In [14]:
duplicates_subset.shape

(540, 14)

In [15]:
#duplicates_subset[duplicates_subset['VERIFICADO'] == True]

# 1. Puntajes

Asignamos puntajes a cada posible dato que aparezca en las categor√≠as:

- Tipo.
- Subtipo.
- Propietario
- Verificaci√≥n

In [16]:
duplicates_subset.loc[duplicates_subset['VERIFICADO'] == 1, 'PUNTAJE_VERIFICADO'] = 6

/home/dleg/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/pandas/core/indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/home/dleg/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [17]:
duplicates_subset.loc[duplicates_subset['VERIFICADO'] == 0, 'PUNTAJE_VERIFICADO'] = 0

/home/dleg/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [18]:
duplicates_subset.loc[duplicates_subset['PROPIETARIO_DATO'] == 'Propio', 'PUNTAJE_PROPIETARIO'] = 5

/home/dleg/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/pandas/core/indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)

In [19]:
duplicates_subset.loc[duplicates_subset['PROPIETARIO_DATO'] == 'Ajeno_familiar', 'PUNTAJE_PROPIETARIO'] = 4

In [20]:
duplicates_subset.loc[duplicates_subset['PROPIETARIO_DATO'] == 'Ajeno_empleador', 'PUNTAJE_PROPIETARIO'] = 3

In [21]:
duplicates_subset.loc[duplicates_subset['PROPIETARIO_DATO'] == 'Ajeno', 'PUNTAJE_PROPIETARIO'] = 2

In [22]:
duplicates_subset.loc[duplicates_subset['SUBTIPO'] == 'PERSONAL', 'PUNTAJE_TIPO'] = 2

In [23]:
duplicates_subset.loc[duplicates_subset['SUBTIPO'] == 'LABORAL', 'PUNTAJE_TIPO'] = 0

In [24]:
duplicates_subset.loc[duplicates_subset['TIPO'] == 'EMAIL', 'PUNTAJE_SUBTIPO'] = 4

In [25]:
duplicates_subset.loc[duplicates_subset['TIPO'] == 'TEL.FIJO', 'PUNTAJE_SUBTIPO'] = 2

In [26]:
duplicates_subset.loc[duplicates_subset['TIPO'] == 'TEL.CELULAR', 'PUNTAJE_SUBTIPO'] = 4

## Suma de Puntajes

In [27]:
columns_to_sum = ['PUNTAJE_VERIFICADO','PUNTAJE_PROPIETARIO','PUNTAJE_TIPO','PUNTAJE_SUBTIPO']

In [28]:
duplicates_subset['PUNTAJE_TOTAL'] = duplicates_subset[columns_to_sum].sum(axis=1)

<ipython-input-28-0ec8c926888a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_subset['PUNTAJE_TOTAL'] = duplicates_subset[columns_to_sum].sum(axis=1)

In [29]:
duplicates_subset.head()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO,PUNTAJE_VERIFICADO,PUNTAJE_PROPIETARIO,PUNTAJE_TIPO,PUNTAJE_SUBTIPO,PUNTAJE_TOTAL
0,DNI 35923953,DNI,35923953,20359239530,TEL.FIJO,PERSONAL,2644231196,Propio,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0,9.0
3,DNI 35923953,DNI,35923953,20359239530,TEL.FIJO,PERSONAL,2644231196,Ajeno_familiar,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0,0.0,4.0,2.0,2.0,8.0
5,DNI 27244548,DNI,27244548,20272445487,TEL.FIJO,PERSONAL,1147409350,Propio,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0,9.0
7,DNI 27244548,DNI,27244548,20272445487,TEL.FIJO,PERSONAL,1147409350,Ajeno_familiar,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0,0.0,4.0,2.0,2.0,8.0
24,DNI 38608367,DNI,38608367,27386083679,TEL.FIJO,PERSONAL,2284431449,Propio,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0,9.0

In [30]:
duplicates_subset.shape

(540, 19)

In [31]:
df

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
0,DNI 35923953,DNI,35923953,20359239530,TEL.FIJO,PERSONAL,2644231196,Propio,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0
1,DNI 35923953,DNI,35923953,20359239530,TEL.FIJO,LABORAL,3546463805,Ajeno_empleador,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,1.0
2,DNI 35923953,DNI,35923953,20359239530,TEL.FIJO,LABORAL,3546463806,Ajeno_empleador,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,1.0
3,DNI 35923953,DNI,35923953,20359239530,TEL.FIJO,PERSONAL,2644231196,Ajeno_familiar,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0
4,DNI 35923953,DNI,35923953,20359239530,TEL.CELULAR,PERSONAL,2646737373,Ajeno_familiar,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4178,DNI 30749617,DNI,30749617,20307496179,TEL.FIJO,PERSONAL,1144633936,Ajeno,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0
4179,DNI 22244613,DNI,22244613,27222446134,TEL.FIJO,PERSONAL,3414578578,Ajeno,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0
4180,DNI 2080464,DNI,2080464,27020804640,TEL.FIJO,PERSONAL,3424833473,Ajeno,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0
4181,DNI 30529846,DNI,30529846,27305298463,TEL.FIJO,PERSONAL,2920432065,Ajeno,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0
4182,DNI 30906890,DNI,30906890,23309068904,TEL.FIJO,PERSONAL,3814830545,Ajeno,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0

## Agrupo

In [33]:
#duplicates_subset['ID'] = duplicates_subset['ID'].astype(str)

In [34]:
df_best = duplicates_subset.groupby(['IDMOROSO','DATO','PROVEEDOR_DATO'], as_index = False).max(numeric_only=True)

In [35]:
df_best

,IDMOROSO,DATO,PROVEEDOR_DATO,NRO_DOC,CUIT_CUIL,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO,PUNTAJE_VERIFICADO,PUNTAJE_PROPIETARIO,PUNTAJE_TIPO,PUNTAJE_SUBTIPO,PUNTAJE_TOTAL
0,DNI 10248810,1149123530,P2,10248810,20102488106,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0,9.0
1,DNI 10552120,2204930328,P2,10552120,27105521206,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0,9.0
2,DNI 10704247,1149823082,P2,10704247,23107042474,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0,9.0
3,DNI 11423863,2352416822,P2,11423863,27114238630,0,NaN,NaN,2.0,0.0,5.0,2.0,4.0,11.0
4,DNI 12025698,3794467530,P2,12025698,20120256980,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,LC 5162309,1145039363,P2,5162309,27051623091,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0,9.0
255,LC 6066442,1143022569,P2,6066442,27060664426,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0,9.0
256,LE 5094735,1142369923,P2,5094735,20050947352,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0,9.0
257,LE 5460817,2284427657,P2,5460817,23054608179,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0,9.0
258,LE 5793367,3514814615,P2,5793367,20057933675,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0,9.0

# Join

In [36]:
df_joined = pd.merge(duplicates_subset,df_best,on=['IDMOROSO','DATO','PROVEEDOR_DATO','PUNTAJE_TOTAL'])

In [37]:
df_joined.shape

(259, 29)

In [38]:
df_joined.head(10)

,IDMOROSO,TIPO_DOC,NRO_DOC_x,CUIT_CUIL_x,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,...,NRO_DOC_y,CUIT_CUIL_y,VERIFICADO_y,FECHA_VERIFICACION_y,OPERADOR_VERIFICACION_y,SCORE_DATO_y,PUNTAJE_VERIFICADO_y,PUNTAJE_PROPIETARIO_y,PUNTAJE_TIPO_y,PUNTAJE_SUBTIPO_y
0,DNI 35923953,DNI,35923953,20359239530,TEL.FIJO,PERSONAL,2644231196,Propio,P2,2021-02-24 10:20:28.717029,...,35923953,20359239530,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0
1,DNI 27244548,DNI,27244548,20272445487,TEL.FIJO,PERSONAL,1147409350,Propio,P2,2021-02-24 10:20:28.717029,...,27244548,20272445487,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0
2,DNI 38608367,DNI,38608367,27386083679,TEL.FIJO,PERSONAL,2284431449,Propio,P2,2021-02-24 10:20:28.717029,...,38608367,27386083679,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0
3,DNIE92331200,DNI,92331200,20923312006,TEL.FIJO,PERSONAL,1145233043,Propio,P2,2021-02-24 10:20:28.717029,...,92331200,20923312006,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0
4,DNI 37161906,DNI,37161906,27371619068,TEL.FIJO,PERSONAL,1142963994,Propio,P2,2021-02-24 10:20:28.717029,...,37161906,27371619068,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0
5,DNI 20645228,DNI,20645228,20206452286,TEL.FIJO,PERSONAL,3415184920,Propio,P2,2021-02-24 10:20:28.717029,...,20645228,20206452286,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0
6,DNI 32702712,DNI,32702712,27327027129,TEL.FIJO,PERSONAL,1147610028,Propio,P2,2021-02-24 10:20:28.717029,...,32702712,27327027129,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0
7,DNI 32702712,DNI,32702712,27327027129,TEL.CELULAR,PERSONAL,1141778057,Propio,P2,2021-02-24 10:20:28.717029,...,32702712,27327027129,0,NaN,NaN,2.0,0.0,5.0,2.0,4.0
8,DNI 25809095,DNI,25809095,20258090951,TEL.FIJO,PERSONAL,1146903969,Propio,P2,2021-02-24 10:20:28.717029,...,25809095,20258090951,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0
9,DNI 32067384,DNI,32067384,20320673845,TEL.CELULAR,PERSONAL,2281544390,Propio,P2,2021-02-24 10:20:28.717029,...,32067384,20320673845,0,NaN,NaN,2.0,0.0,5.0,2.0,4.0

# Duplicados con diferentes fechas de ingreso

In [40]:
duplicates_fecha = df_joined[df_joined.duplicated(subset=['IDMOROSO','DATO','PROVEEDOR_DATO'],keep=False)]

In [41]:
duplicates_fecha = duplicates_fecha.sort_values('FECHA_INGRESO_DATO').drop_duplicates('IDMOROSO',keep='first')

# Append

In [42]:
df_joined = df_joined[['IDMOROSO','TIPO_DOC','NRO_DOC_x','CUIT_CUIL_x','TIPO','SUBTIPO','DATO','PROPIETARIO_DATO'
                               ,'PROVEEDOR_DATO','FECHA_INGRESO_DATO','VERIFICADO_x','FECHA_VERIFICACION_x'
                               ,'OPERADOR_VERIFICACION_x','SCORE_DATO_x']]

In [43]:
df_joined.head()

,IDMOROSO,TIPO_DOC,NRO_DOC_x,CUIT_CUIL_x,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO_x,FECHA_VERIFICACION_x,OPERADOR_VERIFICACION_x,SCORE_DATO_x
0,DNI 35923953,DNI,35923953,20359239530,TEL.FIJO,PERSONAL,2644231196,Propio,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0
1,DNI 27244548,DNI,27244548,20272445487,TEL.FIJO,PERSONAL,1147409350,Propio,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0
2,DNI 38608367,DNI,38608367,27386083679,TEL.FIJO,PERSONAL,2284431449,Propio,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0
3,DNIE92331200,DNI,92331200,20923312006,TEL.FIJO,PERSONAL,1145233043,Propio,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0
4,DNI 37161906,DNI,37161906,27371619068,TEL.FIJO,PERSONAL,1142963994,Propio,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0

In [44]:
df_joined.shape

(259, 14)

In [45]:
df_joined = df_joined.rename(columns={"VERIFICADO_x": "VERIFICADO", "SCORE_DATO_x": "SCORE_DATO"
                                     ,'NRO_DOC_x': 'NRO_DOC','CUIT_CUIL_x':'CUIT_CUIL'
                                     ,'FECHA_VERIFICACION_x':'FECHA_VERIFICACION'})

In [46]:
df_joined = df_joined[~df_joined.duplicated(subset=['IDMOROSO','DATO','PROVEEDOR_DATO'],keep=False)]

In [47]:
df_joined.shape

(259, 14)

In [48]:
duplicates_fecha = duplicates_fecha[['IDMOROSO','TIPO_DOC','NRO_DOC_x','CUIT_CUIL_x','TIPO','SUBTIPO','DATO','PROPIETARIO_DATO'
                               ,'PROVEEDOR_DATO','FECHA_INGRESO_DATO','VERIFICADO_x','FECHA_VERIFICACION_x'
                               ,'OPERADOR_VERIFICACION_x','SCORE_DATO_x']]

In [49]:
duplicates_fecha.shape

(0, 14)

In [50]:
duplicates_fecha = duplicates_fecha.rename(columns={"VERIFICADO_x": "VERIFICADO", "SCORE_DATO_x": "SCORE_DATO"})

Dataframe inicial sin los duplicados

In [51]:
df.shape

(4183, 14)

In [52]:
non_duplicates = df[~df.duplicated(subset=['IDMOROSO','DATO','PROVEEDOR_DATO'],keep=False)]

In [53]:
non_duplicates.shape

(3643, 14)

Unimos los 3 dataframes y revisamos que no haya duplicados en el mismo subset IDMOROSO-DATO-PROVEEDOR

In [54]:
non_duplicates = non_duplicates.dropna(subset=['DATO'])

In [55]:
non_duplicates [non_duplicates['NRO_DOC'].isnull()]

Empty DataFrame
Columns: [IDMOROSO, TIPO_DOC, NRO_DOC, CUIT_CUIL, TIPO, SUBTIPO, DATO, PROPIETARIO_DATO, PROVEEDOR_DATO, FECHA_INGRESO_DATO, VERIFICADO, FECHA_VERIFICACION, OPERADOR_VERIFICACION, SCORE_DATO]
Index: []

In [56]:
non_duplicates.head()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
1,DNI 35923953,DNI,35923953,20359239530,TEL.FIJO,LABORAL,3546463805,Ajeno_empleador,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,1.0
2,DNI 35923953,DNI,35923953,20359239530,TEL.FIJO,LABORAL,3546463806,Ajeno_empleador,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,1.0
4,DNI 35923953,DNI,35923953,20359239530,TEL.CELULAR,PERSONAL,2646737373,Ajeno_familiar,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0
6,DNI 27244548,DNI,27244548,20272445487,TEL.CELULAR,PERSONAL,1168885576,Propio,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0
8,DNI 35348234,DNI,35348234,27353482349,TEL.FIJO,PERSONAL,2224421607,Propio,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0

**S√ìLO** concateno estos dos porque DUPLICATES_FECHA tiene nulls. Sino, hay que concatenar todos.

In [57]:
#df_export = pd.concat([non_duplicates,df_joined,duplicates_fecha])
df_export = pd.concat([non_duplicates,df_joined])

In [58]:
df_export.head()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO,OPERADOR_VERIFICACION_x
1,DNI 35923953,DNI,35923953,20359239530,TEL.FIJO,LABORAL,3546463805,Ajeno_empleador,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,1.0,NaN
2,DNI 35923953,DNI,35923953,20359239530,TEL.FIJO,LABORAL,3546463806,Ajeno_empleador,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,1.0,NaN
4,DNI 35923953,DNI,35923953,20359239530,TEL.CELULAR,PERSONAL,2646737373,Ajeno_familiar,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0,NaN
6,DNI 27244548,DNI,27244548,20272445487,TEL.CELULAR,PERSONAL,1168885576,Propio,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0,NaN
8,DNI 35348234,DNI,35348234,27353482349,TEL.FIJO,PERSONAL,2224421607,Propio,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0,NaN

In [59]:
df_export.shape

(3902, 15)

# QA Duplicados

In [60]:
qa_duplicados = df_export[df_export.duplicated(subset=['IDMOROSO','DATO','PROVEEDOR_DATO'],keep=False)]

In [61]:
qa_duplicados

Empty DataFrame
Columns: [IDMOROSO, TIPO_DOC, NRO_DOC, CUIT_CUIL, TIPO, SUBTIPO, DATO, PROPIETARIO_DATO, PROVEEDOR_DATO, FECHA_INGRESO_DATO, VERIFICADO, FECHA_VERIFICACION, OPERADOR_VERIFICACION, SCORE_DATO, OPERADOR_VERIFICACION_x]
Index: []

In [62]:
df_export.head()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO,OPERADOR_VERIFICACION_x
1,DNI 35923953,DNI,35923953,20359239530,TEL.FIJO,LABORAL,3546463805,Ajeno_empleador,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,1.0,NaN
2,DNI 35923953,DNI,35923953,20359239530,TEL.FIJO,LABORAL,3546463806,Ajeno_empleador,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,1.0,NaN
4,DNI 35923953,DNI,35923953,20359239530,TEL.CELULAR,PERSONAL,2646737373,Ajeno_familiar,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0,NaN
6,DNI 27244548,DNI,27244548,20272445487,TEL.CELULAR,PERSONAL,1168885576,Propio,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0,NaN
8,DNI 35348234,DNI,35348234,27353482349,TEL.FIJO,PERSONAL,2224421607,Propio,P2,2021-02-24 10:20:28.717029,0,NaN,NaN,2.0,NaN

In [63]:
df_export['VERIFICADO'].value_counts()

0    3902
Name: VERIFICADO, dtype: int64

In [64]:
non_duplicates['VERIFICADO'].value_counts()

0    3643
Name: VERIFICADO, dtype: int64

In [65]:
df_joined['VERIFICADO'].value_counts()

0    259
Name: VERIFICADO, dtype: int64

In [66]:
duplicates_fecha['VERIFICADO'].value_counts()

Series([], Name: VERIFICADO, dtype: int64)

In [67]:
df_export[df_export['IDMOROSO'] == 'LE  4003299       ']

Empty DataFrame
Columns: [IDMOROSO, TIPO_DOC, NRO_DOC, CUIT_CUIL, TIPO, SUBTIPO, DATO, PROPIETARIO_DATO, PROVEEDOR_DATO, FECHA_INGRESO_DATO, VERIFICADO, FECHA_VERIFICACION, OPERADOR_VERIFICACION, SCORE_DATO, OPERADOR_VERIFICACION_x]
Index: []

In [68]:
df[df['IDMOROSO'] == 'LE  4003299       ']

Empty DataFrame
Columns: [IDMOROSO, TIPO_DOC, NRO_DOC, CUIT_CUIL, TIPO, SUBTIPO, DATO, PROPIETARIO_DATO, PROVEEDOR_DATO, FECHA_INGRESO_DATO, VERIFICADO, FECHA_VERIFICACION, OPERADOR_VERIFICACION, SCORE_DATO]
Index: []

# Export a DAM_CONTACTABILIDAD

In [69]:
df_export = df_export[['IDMOROSO', 'TIPO_DOC','NRO_DOC','CUIT_CUIL','TIPO','SUBTIPO','DATO','PROPIETARIO_DATO','PROVEEDOR_DATO','FECHA_INGRESO_DATO','VERIFICADO','FECHA_VERIFICACION','OPERADOR_VERIFICACION','SCORE_DATO']]

In [70]:
df_export.to_csv('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/PyP/Exports/DAM_CONTACTABILIDAD/DAM_CONTACTABILIDAD_TELEFONOS_2402.csv',index=False)