# 1) Datasets

En primer lugar, vamos a unir los datasets que nos devuelve Informes Digitales, haciendo una limpieza inicial.

__TODO__: Renombrar las columnas con un diccionario

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_excel('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Informes Digitales/Datasets/Datos Recibidos/MOPC_INFORMES_DIGITALES_2801_1 - Copy.xlsx', header=1)

In [3]:
df1.shape

(1292, 82)

In [4]:
df1.head()

,Orden,Tipo,DNI,Nombre,Cuit/Cuil,Genero,Edad,Observ.,Actividad,Unnamed: 9,...,Celular 1,Celular 2,Celular 3,Celular 4,Celular 5,Email,Unnamed: 78,Categoria_monotributo,Rubro_monotributo,Unnamed: 81
0,1.01,DNI-EB,32.413.854,Marchesi Ana Paula,23-32413854-4,Fem.,34 Años (26/09/1986),NaN,Servicios De Gestión Y Logística Para El Trans...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G,Locaciones De Servicio,NaN
1,1.02,DNI-EB,32.413.854,Marchesi Ana Paula,23-32413854-4,Fem.,34 Años (26/09/1986),NaN,Servicios De Gestión Y Logística Para El Trans...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.01,DNI-EC,35.179.685,Almada Medina Jonathan Emmanuel,20-35179685-6,Mas.,30 Años (22/04/1990),NaN,Servicio De Transporte Automotor De Pasajeros ...,NaN,...,(11) 3368-7922,(11) 3368-7434,NaN,NaN,NaN,NaN,NaN,D,Locaciones De Servicio,NaN
4,2.02,DNI-EC,35.179.685,Almada Medina Jonathan Emmanuel,20-35179685-6,Mas.,30 Años (22/04/1990),NaN,Servicio De Transporte Automotor De Pasajeros ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Cargamos el segundo dataset:

In [5]:
df2 = pd.read_excel('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Informes Digitales/Datasets/Datos Recibidos/MOPC_INFORMES_DIGITALES_2801_2 - Copy.xlsx', header=1)

In [6]:
df2.shape

(5066, 82)

In [7]:
df2.tail()

,Orden,Tipo,DNI,Nombre,Cuit/Cuil,Genero,Edad,Observ.,Actividad,Unnamed: 9,...,Celular 1,Celular 2,Celular 3,Celular 4,Celular 5,Email,Unnamed: 78,Categoria_monotributo,Rubro_monotributo,Unnamed: 81
5061,255.05,DNI-EC,23.200.122,Morales Perla Andrea (Barrionuevo),23-23200122-4,Fem.,48 Años (05/12/1972),NaN,Venta Al Por Mayor En Comisión O Consignación ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5062,255.06,DNI-EC,23.200.122,Morales Perla Andrea (Barrionuevo),23-23200122-4,Fem.,48 Años (05/12/1972),NaN,Venta Al Por Mayor En Comisión O Consignación ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5063,255.07,DNI-EC,23.200.122,Morales Perla Andrea (Barrionuevo),23-23200122-4,Fem.,48 Años (05/12/1972),NaN,Venta Al Por Mayor En Comisión O Consignación ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5064,255.08,DNI-EC,23.200.122,Morales Perla Andrea (Barrionuevo),23-23200122-4,Fem.,48 Años (05/12/1972),NaN,Venta Al Por Mayor En Comisión O Consignación ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 1.1) Join de Datasets

Vamos a unir los dos dataframes para trabajar sobre uno solo.

In [8]:
df = df1.append(df2, ignore_index = True)

In [9]:
df.shape

(6358, 82)

In [10]:
df.tail()

,Orden,Tipo,DNI,Nombre,Cuit/Cuil,Genero,Edad,Observ.,Actividad,Unnamed: 9,...,Celular 1,Celular 2,Celular 3,Celular 4,Celular 5,Email,Unnamed: 78,Categoria_monotributo,Rubro_monotributo,Unnamed: 81
6353,255.05,DNI-EC,23.200.122,Morales Perla Andrea (Barrionuevo),23-23200122-4,Fem.,48 Años (05/12/1972),NaN,Venta Al Por Mayor En Comisión O Consignación ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6354,255.06,DNI-EC,23.200.122,Morales Perla Andrea (Barrionuevo),23-23200122-4,Fem.,48 Años (05/12/1972),NaN,Venta Al Por Mayor En Comisión O Consignación ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6355,255.07,DNI-EC,23.200.122,Morales Perla Andrea (Barrionuevo),23-23200122-4,Fem.,48 Años (05/12/1972),NaN,Venta Al Por Mayor En Comisión O Consignación ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6356,255.08,DNI-EC,23.200.122,Morales Perla Andrea (Barrionuevo),23-23200122-4,Fem.,48 Años (05/12/1972),NaN,Venta Al Por Mayor En Comisión O Consignación ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 1.2) Data Cleaning: Datasets

Vamos a dropear aquellas columnas y filas que no tengan ningún valor (es decir, que sean todos NaNs)

In [11]:
df = df.dropna(axis=0, how='all')

In [12]:
df = df.dropna(axis=1, how='all')

In [13]:
df.shape

(5845, 56)

Ahora todas las columnas tienen al menos 1 dato.

# 2) Mails

Vamos a obtener los mails de las columnas donde pueden aparecer, que son:

- Tel. de Contacto e Email.
- Email.

In [14]:
df_reduced = df [['Tipo','DNI', 'Nombre','Cuit/Cuil', 'Tel. de contacto e email', 'Email']]

In [15]:
df_reduced.head()

,Tipo,DNI,Nombre,Cuit/Cuil,Tel. de contacto e email,Email
0,DNI-EB,32.413.854,Marchesi Ana Paula,23-32413854-4,NaN,NaN
1,DNI-EB,32.413.854,Marchesi Ana Paula,23-32413854-4,NaN,NaN
3,DNI-EC,35.179.685,Almada Medina Jonathan Emmanuel,20-35179685-6,(11) 4626-0765 - - - - 30/06/2018\n(11) 4626-0...,NaN
4,DNI-EC,35.179.685,Almada Medina Jonathan Emmanuel,20-35179685-6,NaN,NaN
6,DNI-EB,37.497.005,Suilice Melina Giselle,23-37497005-4,NaN,NaN

In [16]:
df_reduced.shape

(5845, 6)

## 2.1) Análisis del campo "Tel. de contacto e email"

In [17]:
#phrase_separator = ''
df_string_split_1 = df_reduced['Tel. de contacto e email'].str.split(' ', expand=True)

In [18]:
df_string_split_1.shape

(5845, 291)

Bien, se mantiene el mismo número de filas.

In [19]:
df_string_split_1.head()

,0,1,2,3,4,5,6,7,8,9,...,281,282,283,284,285,286,287,288,289,290
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,(11),4626-0765,-,-,-,-,30/06/2018\n(11),4626-0765,-,-,...,None,None,None,None,None,None,None,None,None,None
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Generamos una máscara para identificar en qué celdas del dataframe tengo "@"

In [20]:
df_masked_1 = df_string_split_1.mask(~df_string_split_1.apply (lambda x: x.str.contains('@',na=False)))

In [21]:
df_masked_1.head()

,0,1,2,3,4,5,6,7,8,9,...,281,282,283,284,285,286,287,288,289,290
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Dropeamos todas las filas completamente duplicadas que puedan existir

In [22]:
#df_masked_1 = df_masked_1.drop_duplicates()

Llevamos todas las filas a una lista:

In [23]:
df_masked_1 ['Email_1'] = pd.Series(df_masked_1.values.tolist(), index=df_masked_1.index)

In [24]:
df_masked_1.head()

,0,1,2,3,4,5,6,7,8,9,...,282,283,284,285,286,287,288,289,290,Email_1
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ..."
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ..."
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ..."
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ..."
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ..."

Nos quedamos con la última columna únicamente

In [25]:
df_email_1 = df_masked_1.iloc[:,-1:]

In [26]:
df_email_1.head()

                                             Email_1
0  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
1  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
3  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
4  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
6  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...

## 2.2) Análisis del campo "Email"

In [27]:
#phrase_separator = ''
df_string_split_2 = df_reduced['Email'].str.split(' ', expand=True)

In [28]:
df_string_split_2.shape

(5845, 1)

In [29]:
df_string_split_2.head()

     0
0  NaN
1  NaN
3  NaN
4  NaN
6  NaN

Generamos una máscara para identificar en qué celdas del dataframe tengo "@"

In [30]:
df_masked_2 = df_string_split_2.mask(~df_string_split_2.apply (lambda x: x.str.contains('@',na=False)))

In [31]:
df_masked_2.head()

     0
0  NaN
1  NaN
3  NaN
4  NaN
6  NaN

Dropeamos todas las filas completamente duplicadas que puedan existir

In [32]:
#df_masked_2 = df_masked_2.drop_duplicates()

Llevamos todas las filas a una lista:

In [33]:
df_masked_2 ['Email_2'] = pd.Series(df_masked_2.values.tolist(), index=df_masked_2.index)

In [34]:
df_masked_2.head()

     0 Email_2
0  NaN   [nan]
1  NaN   [nan]
3  NaN   [nan]
4  NaN   [nan]
6  NaN   [nan]

Nos quedamos con la última columna:

In [35]:
df_email_2 = df_masked_2.iloc[:,-1:]

In [36]:
df_email_2.head()

  Email_2
0   [nan]
1   [nan]
3   [nan]
4   [nan]
6   [nan]

In [37]:
df_email_2.shape

(5845, 1)

# 3) Diccionarios

Vamos a generar un diccionario por campo del dataset que contenga mails.

## 3.1) Campo "Tel. de contacto e email"

Para generar el diccionario vamos a unir primero con el dataframe original para quedarnos con los DNIs. Posteriormente, vamos a unir con el resto de los campos de interés.

In [38]:
df_email_joined_1 = df_email_1.join (df_reduced['DNI'])

In [39]:
df_email_joined_1

                                                Email_1         DNI
0     [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...  32.413.854
1     [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...  32.413.854
3     [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...  35.179.685
4     [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...  35.179.685
6     [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...  37.497.005
...                                                 ...         ...
6352  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...  23.200.122
6353  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...  23.200.122
6354  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...  23.200.122
6355  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...  23.200.122
6356  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...  23.200.122

[5845 rows x 2 columns]

Reordenamos las columnas

In [40]:
df_email_joined_1 = df_email_joined_1[['DNI', 'Email_1']]

In [41]:
df_email_joined_1.head()

          DNI                                            Email_1
0  32.413.854  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
1  32.413.854  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
3  35.179.685  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
4  35.179.685  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
6  37.497.005  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...

### 3.1.1) Agrupamos por DNI

Vamos a agrupar por DNI

In [42]:
df_grouped_1 = df_email_joined_1.groupby('DNI').agg({'Email_1': 'sum'})

In [43]:
df_grouped_1

                                                      Email_1
DNI
10.113.417  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
10.457.610  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
10.542.118  [nan, nan, nan, electrozarate@arnet.com.ar, na...
10.550.292  [nan, nan, nan, imperatore.roberto@gmail.com, ...
10.588.822  [nan, nan, nan, nan, nan, tonelli_jorge@yahoo....
...                                                       ...
95.907.755  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
95.910.871  [nan, nan, nan, admin@akribis.com.ar, nan, nan...
95.925.629  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
95.963.998  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
99.999.999  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...

[423 rows x 1 columns]

Reordenamos las columnas

### 3.1.2) Eliminación de NaNs

Vamos a eliminar todos los NaNs de las listas

In [44]:
df_grouped_1['Email_1'] = [[x for x in df_grouped_1['Email_1'] [i] if pd.notnull(x)] for i in range (len(df_grouped_1['Email_1']))]

In [45]:
df_grouped_1

                                                      Email_1
DNI
10.113.417                                                 []
10.457.610                                                 []
10.542.118  [electrozarate@arnet.com.ar, electrozarate@arn...
10.550.292  [imperatore.roberto@gmail.com, imperatore.robe...
10.588.822  [tonelli_jorge@yahoo.com.ar, tonelli_jorge@yah...
...                                                       ...
95.907.755                                                 []
95.910.871  [admin@akribis.com.ar, admin@akribis.com.ar, a...
95.925.629                                                 []
95.963.998                                                 []
99.999.999                                                 []

[423 rows x 1 columns]

### 3.1.3) Eliminación de Duplicados dentro de cada lista

Vamos a eliminar todos los duplicados qeu puedan aparecer dentro de cada lista de mails

In [46]:
df_grouped_1['Email_1'] = [list(dict.fromkeys(df_grouped_1['Email_1'][i])) for i in range (len(df_grouped_1['Email_1']))]

In [47]:
df_grouped_1

                                   Email_1
DNI
10.113.417                              []
10.457.610                              []
10.542.118    [electrozarate@arnet.com.ar]
10.550.292  [imperatore.roberto@gmail.com]
10.588.822    [tonelli_jorge@yahoo.com.ar]
...                                    ...
95.907.755                              []
95.910.871          [admin@akribis.com.ar]
95.925.629                              []
95.963.998                              []
99.999.999                              []

[423 rows x 1 columns]

### 3.1.4) Conversión a Diccionarios

Vamos a convertir este dataframe a un diccionario para luego mergearlo

In [48]:
dict_email_1 = df_grouped_1.to_dict()

In [49]:
dict_email_1

{'Email_1': {'10.113.417': [],
  '10.457.610': [],
  '10.542.118': ['electrozarate@arnet.com.ar'],
  '10.550.292': ['imperatore.roberto@gmail.com'],
  '10.588.822': ['tonelli_jorge@yahoo.com.ar'],
  '10.828.195': ['victoriavaldez1@hotmail.com'],
  '10.914.160': ['gonzalezsilva@hotmail.com'],
  '11.119.703': ['carlosjofre_15@hotmail.com'],
  '11.352.381': [],
  '11.449.454': [],
  '11.458.186': ['mdac@fibertel.com.ar'],
  '11.532.442': [],
  '11.609.850': ['nori_daiara1604@hotmail.com'],
  '11.661.897': [],
  '11.726.629': ['robarcio@gmail.com'],
  '11.738.163': ['teresagil@fibertel.com.ar'],
  '11.781.412': [],
  '11.988.891': ['ctoranzo@fibertel.com.ar'],
  '12.102.658': [],
  '12.150.630': [],
  '12.187.195': ['monicavildoza2010@hotmail.com.ar'],
  '12.216.533': [],
  '12.310.677': [],
  '12.490.261': [],
  '12.510.194': [],
  '12.518.371': [],
  '12.527.136': ['gabrielabellugni@hotmail.com',
   'mariasoledad.correia@ecco.com.ar',
   'damianlucero@ospec.org.ar'],
  '12.528.196': ['georgecapi85@hotmail.com', 'rjcastillo@mardelplata.gob.ar'],
  '12.557.321': ['estudiocontablemonti@speedy.com'],
  '12.849.140': ['aperricone@hotmail.com'],
  '12.906.477': ['kurtito58@gmail.com'],
  '12.998.884': [],
  '13.020.669': ['maclara_publi@yahoo.com.ar',
   'ezequielpereyra@hurlingham.gob.ar'],
  '13.102.749': ['lavallemc@gmail.com'],
  '13.104.126': ['MIRTASESALI@HOTMAIL.COM'],
  '13.241.588': [],
  '13.335.108': [],
  '13.473.568': [],
  '13.521.234': ['rominanegri18@gmail.com'],
  '13.715.182': ['obra@live.com.ar', 'monumentoalabandera@citynet.net.ar'],
  '13.724.246': ['rosanaandreagaravaglia@gmail.com'],
  '13.786.179': [],
  '13.827.756': ['odongim@hotmail.com'],
  '13.897.967': [],
  '14.142.726': [],
  '14.189.868': ['cdm_mag@yahoo.com.ar'],
  '14.292.134': [],
  '14.315.405': [],
  '14.330.430': [],
  '14.431.212': [],
  '14.510.840': ['karlosmartino@hotmail.com', 'cef10santafe@hotmail.com.ar'],
  '14.572.108': [],
  '14.614.751': [],
  '14.621.109': [],
  '14.641.084': [],
  '14.668.471': ['rcotugno61@gmail.com'],
  '14.792.174': ['capandegui_ruben@yahoo.com.ar'],
  '14.805.152': [],
  '14.909.720': [],
  '14.923.209': ['juangimenezz17@gmail.com'],
  '14.996.996': ['JORGEELANGEL@HOTMAIL.COM.AR'],
  '16.057.898': ['clauricobelli@hotmail.com'],
  '16.069.473': [],
  '16.161.232': ['marceloaraujo262@gmail.com'],
  '16.203.511': [],
  '16.209.880': ['alevalle27@gmail.com', 'alejandrovalle@tresvalles.com.ar'],
  '16.216.373': [],
  '16.272.189': [],
  '16.364.432': ['dellblu_24@hotmail.com'],
  '16.511.461': ['ely-wil@hotmail.com'],
  '16.597.233': ['linardi@grupoisn.com.ar'],
  '16.710.238': [],
  '16.947.042': ['mel_franqui@hotmail.com.ar'],
  '16.947.748': ['nancyponce@hotmail.com.ar', 'ivannaluz0707@gmail.com'],
  '17.002.258': ['gabriel_nexo@hotmail.com'],
  '17.015.991': [],
  '17.148.042': [],
  '17.176.267': [],
  '17.198.028': ['mamiehijos@gmail.com'],
  '17.278.252': [],
  '17.287.816': [],
  '17.364.920': ['gcendon@deinsumos.com'],
  '17.648.889': ['ROCCOMDQ5@GMAIL.COM'],
  '17.702.265': [],
  '17.773.158': ['vo_ant@hotmail.com'],
  '17.790.304': ['andresf@sanatoriolaprida.com.ar'],
  '17.901.990': ['tedesa@fibertel.com.ar'],
  '17.911.071': ['cslcontaduria@sanluis.gov.ar'],
  '18.015.980': ['silviaoro7@hotmail.com', 'diegobollo@hotmail.com'],
  '18.016.489': ['administracion@alisergastronomia.com.ar'],
  '18.043.910': ['paola.f.postiglione@gmail.com',
   'acaserio@medicinaesencial.com.ar'],
  '18.079.913': [],
  '18.120.040': [],
  '18.153.418': ['peronisebastian@yahoo.com'],
  '18.176.172': ['Sanchezcarla187@gmail.com'],
  '18.248.744': ['ep4moron@hotmail.com'],
  '18.249.201': [],
  '18.258.955': [],
  '18.285.902': ['rcffosso@live.com'],
  '18.339.498': ['jhlkjh@speedy.com', 'mariano.solferino@bgh.com.ar'],
  '18.349.427': ['suarezmarcos@arnet.com.ar', 'minstituto@yahoo.com.ar'],
  '18.486.933': [],
  '18.615.906': [],
  '18.765.053': ['lilafernandez55@gmail.com'],
  '19.057.444': [],
  '19.075.861': [],
  '19.075.942': [],
  '2.624.024': ['doris.mancinella@hotmail.com'],
  '20.247.366': ['gerencia@carolinabarreto.com'],
  '20.349.045': [],
  '20.368.707': [],
  '20.373.119': [],
  '20.479.481': ['contaduria@casadesantiago.gob.ar'],
  '20.500.482': ['giannicentrointegral@hotmail.com'],
  '20.543.949': [],
  '20.622.745': ['adrianacampos-2013@hotmail.com'],
  '20.714.693': [],
  '20.732.716': [],
  '20.734.815': [],
  '20.873.335': [],
  '20.987.290': [],
  '21.141.204': [],
  '21.401.388': [],
  '21.521.117': [],
  '21.553.415': ['scelorri@hotmail.com'],
  '21.584.500': ['trinajstic@hotmail.com', 'ep4moron@hotmail.com'],
  '21.658.082': ['ezcaservicios@hotmail.com'],
  '21.684.668': [],
  '21.701.357': [],
  '21.771.793': ['operadoraprensa@gmail.com'],
  '22.033.532': ['ivannaluz0707@gmail.com'],
  '22.138.341': ['florcabanas.02@gmail.com'],
  '22.222.973': [],
  '22.224.629': [],
  '22.245.380': ['ritac.moralejo@gmail.com'],
  '22.300.360': ['laurafalletta@hotmail.com'],
  '22.344.499': ['g.gioia@fibertel.com.ar'],
  '22.375.137': [],
  '22.439.481': [],
  '22.564.461': [],
  '22.756.920': ['marcefrette@hotmail.com', 'cmanzanos@pprsolution.com'],
  '22.823.112': ['svetri@basico.com.ar', 'recepcion@basicospos.com'],
  '23.031.707': [],
  '23.101.463': ['hane-seba@hotmail.com', 'vucetichsedelaplata@hotmail.com'],
  '23.114.293': ['nopoosee@gmail.com', 'gestoria@orestedurante.com.ar'],
  '23.200.122': [],
  '23.395.331': [],
  '23.447.249': ['diego.garciasosa@gmail.com', 'leonel.sist@gmail.com'],
  '23.453.906': [],
  '23.461.898': [],
  '23.470.018': [],
  '23.537.920': [],
  '23.606.915': ['ortigoztam@hotmail.com', 'farmaciadoca@gmail.com'],
  '23.703.051': ['flavialoremarinaro@hotmail.com'],
  '23.720.379': [],
  '23.802.846': [],
  '23.864.001': [],
  '23.887.472': ['albertomendoza800@msn.com'],
  '23.944.899': [],
  '23.958.098': ['adriana301514@live.com.ar'],
  '24.004.157': ['car.lac.c@hotmail.com'],
  '24.029.110': [],
  '24.030.436': [],
  '24.160.833': ['drhode@wal-mart.com.ar'],
  '24.196.072': [],
  '24.284.696': ['ciela_gra@yahoo.com.ar'],
  '24.308.646': [],
  '24.310.271': [],
  '24.318.146': [],
  '24.379.232': ['queflatter@hotmail.com'],
  '24.463.715': ['jcaminodali@gmail.com',
   'administracion@grilloconstrucciones.com'],
  '24.566.584': ['elchueco29@hotmail.com'],
  '24.587.502': ['registrocompras@e-planning.net'],
  '24.816.654': [],
  '25.172.198': [],
  '25.202.699': [],
  '25.226.126': ['anazzola@tierrade.com.ar'],
  '25.521.901': [],
  '25.551.826': [],
  '25.594.915': ['marialaura.logiovine@aig.com'],
  '25.640.797': ['jorge.ulicki@gmail.com', 'mdufourquet@exportar.org.ar'],
  '25.644.051': ['jorgezar@hotmail.com'],
  '25.859.149': ['perez.mariela77@hotmail.com'],
  '26.054.939': [],
  '26.178.260': [],
  '26.305.269': [],
  '26.393.577': ['angelmatador54@gmail.com'],
  '26.443.434': ['jaqui_turquesa@hotmail.com',
   'residenciapediatriavelez@gmail.com'],
  '26.505.839': ['lautentica22@hotmail.com'],
  '26.632.296': ['karimaluca@hotmail.com',
   'residenciapediatriavelez@gmail.com'],
  '26.733.100': [],
  '26.766.658': ['rialve@gmail.com'],
  '26.821.000': [],
  '27.249.297': [],
  '27.367.125': ['donjulioplanta@gmail.com'],
  '27.535.646': ['soniajuan141@hotmail.com'],
  '27.730.735': [],
  '27.801.433': ['c.in.ivan@hotmail.com'],
  '28.027.970': ['mpauparicio@yahoo.com.ar'],
  '28.116.884': ['nataliamaldonado1980@hotmail.com'],
  '28.126.446': [],
  '28.195.824': ['cari_pedraza@hotmail.com', 'saq_cbg@hotmail.com'],
  '28.507.324': ['emiliano.schifis@gmail.com'],
  '28.580.963': ['noesol_falconi@hotmail.com'],
  '28.620.374': [],
  '28.630.018': [],
  '28.639.980': [],
  '28.653.675': [],
  '28.670.886': ['jmalvarez81@gmail.com'],
  '28.692.962': ['gcflobbe@ciudad.com.ar', 'mcarole@afip.gob.ar'],
  '28.697.515': [],
  '28.721.642': [],
  '28.831.810': ['comunicaciones@oca.com.ar'],
  '28.916.224': [],
  '28.961.050': [],
  '29.070.727': [],
  '29.088.597': [],
  '29.167.591': [],
  '29.182.598': [],
  '29.384.362': [],
  '29.614.886': [],
  '29.635.296': ['sistemas@merlo.gov.ar'],
  '29.713.519': [],
  '29.735.377': ['facundo.veron@hp.com', 'alejandro.delbrutto@gmail.com'],
  '29.867.670': ['nhbrokers@gmail.com', 'madercid@hotmail.com'],
  '29.876.564': [],
  '29.986.399': ['administracion@lahoresa.com.ar'],
  '3.454.727': ['arquicier@me.com'],
  '3.767.560': [],
  '30.124.618': ['cintia.loza@hotmail.com'],
  '30.242.982': ['administracion@servincosa.com.ar'],
  '30.442.894': [],
  '30.460.516': [],
  '30.466.764': ['pablo-valenzuela@outlook.com'],
  '30.584.515': [],
  '30.700.222': ['crivero84@hotmail.com'],
  '30.732.928': [],
  '30.899.354': ['dantevc@mail.com.ar'],
  '30.908.491': ['jmontiel@coarco.com.ar'],
  '31.113.506': [],
  '31.240.093': [],
  '31.485.509': [],
  '31.522.435': [],
  '31.601.794': [],
  '31.615.505': ['gisela_jofre@hotmail.com', 'mariamomandrini@etys.com.ar'],
  '31.623.653': [],
  '31.835.237': [],
  '31.863.746': ['sergiogomez128@hotmail.com'],
  '32.022.566': [],
  '32.076.025': ['lachulis_05_sl@hotmail.com'],
  '32.111.088': [],
  '32.121.243': [],
  '32.203.742': [],
  '32.296.676': ['victoria.eckerdt@hotmail.com'],
  '32.413.854': [],
  '32.454.477': [],
  '32.711.456': [],
  '32.743.643': [],
  '32.825.110': ['diego.maidana1987@gmail.com',
   'demian.terriles@galenoargentina.com.ar'],
  '32.855.426': [],
  '33.034.115': ['alangonzalez_51@hotmail.com',
   'vucetichsedelaplata@hotmail.com'],
  '33.320.803': ['mlaur@hotmail.com.ar'],
  '33.807.173': [],
  '33.831.251': [],
  '33.937.472': [],
  '33.962.223': [],
  '34.206.167': [],
  '34.301.412': [],
  '34.609.764': [],
  '34.695.591': ['catedral2salta@farmar.com.ar'],
  '34.774.157': [],
  '34.992.817': [],
  '35.179.685': [],
  '35.240.995': ['nsantos@maxidescuento.com.ar'],
  '35.362.436': ['sebastian.alvarez@jumbo.com.ar',
   'sucursal-rosario@grupo-gestion.com.ar'],
  '35.399.142': ['vanesa.biz@gmail.com'],
  '35.457.852': ['pamee05.lxu@hotmail.com.ar'],
  '35.523.985': [],
  '35.525.509': [],
  '35.766.341': [],
  '35.785.549': [],
  '35.925.556': [],
  '35.989.682': [],
  '36.004.600': [],
  '36.105.826': [],
  '36.217.789': [],
  '36.241.266': [],
  '36.279.068': [],
  '36.320.094': [],
  '36.345.903': [],
  '36.472.366': [],
  '36.650.107': [],
  '36.759.321': [],
  '36.762.992': [],
  '36.898.224': [],
  '37.184.175': [],
  '37.225.318': [],
  '37.287.367': [],
  '37.378.335': ['luzsal85@gmail.com'],
  '37.389.240': [],
  '37.497.005': [],
  '37.630.898': [],
  '37.754.405': [],
  '37.894.517': ['lautarogmotta@gmail.com'],
  '37.934.387': ['zabielskifausto@gmail.com'],
  '38.001.464': ['n.cagnolo@clubtalleres.com.ar'],
  '38.081.753': [],
  '38.108.321': [],
  '38.266.384': [],
  '38.278.822': [],
  '38.449.857': [],
  '38.722.555': [],
  '38.741.625': [],
  '38.830.223': [],
  '38.904.135': [],
  '38.936.232': [],
  '39.207.233': [],
  '39.393.726': [],
  '39.414.127': ['ssato@toyota.com.ar'],
  '39.427.940': [],
  '39.463.858': [],
  '39.531.374': [],
  '39.559.838': [],
  '39.605.791': [],
  '39.859.758': [],
  '4.064.259': ['hectormelito@yahoo.com.ar'],
  '4.105.890': ['ANDREA_TURRI@HOTMAIL.COM'],
  '4.155.894': ['alejandrapescio@gmail.com'],
  '4.261.408': [],
  '4.370.376': ['obenclo@gmail.com'],
  '4.382.311': ['carloscavanna@gmail.com'],
  '4.471.357': ['S.E.GONZALEZ@OUTLOOK.COM'],
  '4.569.178': ['jcbayugar@hotmail.com'],
  '40.059.127': [],
  '40.091.227': [],
  '40.289.577': [],
  '40.352.233': [],
  '40.380.325': [],
  '40.538.862': ['rgcampos1972@gmail.com'],
  '40.748.816': [],
  '40.750.555': [],
  '40.800.514': [],
  '40.981.270': [],
  '40.985.781': [],
  '41.154.188': [],
  '41.285.341': [],
  '41.332.686': [],
  '41.537.207': [],
  '41.738.884': [],
  '41.770.240': [],
  '41.785.714': ['jia@yahoo.com'],
  '41.898.501': [],
  '41.921.531': ['stwffaniaa@gmail.com'],
  '42.012.518': [],
  '42.136.021': [],
  '42.282.728': [],
  '42.292.197': [],
  '42.318.418': [],
  '42.325.572': ['lorenagalvan163@gmail.com'],
  '42.433.054': [],
  '42.593.967': [],
  '42.630.537': [],
  '42.799.883': [],
  '42.942.593': [],
  '43.184.139': [],
  '43.198.786': [],
  '43.213.921': [],
  '43.387.035': [],
  '43.599.037': [],
  '44.509.037': [],
  '46.810.193': [],
  '5.018.685': ['lak@fibertel.com.ar'],
  '5.255.032': [],
  '5.404.883': [],
  '5.454.238': ['gracielaprim@yahoo.com.ar'],
  '5.654.008': ['georgyz32@hotmail.com', 'ep4moron@hotmail.com'],
  '51.169.172': [],
  '6.063.215': ['tamy1805@hotmail.com.ar'],
  '6.151.331': ['gabychamma@hotmail.com'],
  '6.437.601': ['mcibelli@waycom.com.ar'],
  '7.091.311': ['glsalguero@coto.com.ar'],
  '7.375.325': [],
  '7.651.073': ['guillermoturci@gmail.com'],
  '7.688.947': ['jjbarbaresi@yahoo.com.ar'],
  '8.273.928': ['chedickcarlos@gmial.com'],
  '8.285.885': ['rubenchevaia@ciudad.com.ar'],
  '8.321.379': ['jorgedenicola@fibertel.com.ar'],
  '8.348.214': ['EDUQAC@HOTMAIL.COM'],
  '8.422.211': ['cguzman47@yahoo.com.ar'],
  '8.479.931': [],
  '8.619.522': [],
  '92.347.450': ['info@modelodebellavista.com.ar'],
  '92.463.518': [],
  '92.552.290': [],
  '92.962.620': [],
  '93.041.432': [],
  '93.293.600': [],
  '93.608.660': ['delfabbro_silvano@hotmail.com'],
  '93.705.431': [],
  '93.997.374': ['danitzasaavedra@yahoo.com'],
  '94.043.597': ['cathe.mktg@hotmail.com'],
  '94.227.438': [],
  '94.328.858': [],
  '94.361.828': [],
  '94.627.518': [],
  '94.726.194': [],
  '94.852.888': ['info@cortinasmim.com'],
  '94.854.108': [],
  '94.863.698': [],
  '94.872.762': [],
  '94.948.543': [],
  '94.965.480': ['ne-nina@hotmail.com'],
  '95.023.481': ['nahuelkreser@hotmail.com'],
  '95.044.255': [],
  '95.050.314': ['facturacionbrip@gmail.com'],
  '95.312.046': [],
  '95.793.498': [],
  '95.818.687': [],
  '95.907.755': [],
  '95.910.871': ['admin@akribis.com.ar'],
  '95.925.629': [],
  '95.963.998': [],
  '99.999.999': []}}

In [50]:
dict_email_1 = dict_email_1['Email_1']

## 3.2) Campo "Email"

Vamos a unir primero con el dataframe original para quedarnos con los DNIs. Mismo proceso que el punto anterior

In [51]:
df_email_joined_2 = df_email_2.join (df_reduced['DNI'])

In [52]:
df_email_joined_2

     Email_2         DNI
0      [nan]  32.413.854
1      [nan]  32.413.854
3      [nan]  35.179.685
4      [nan]  35.179.685
6      [nan]  37.497.005
...      ...         ...
6352   [nan]  23.200.122
6353   [nan]  23.200.122
6354   [nan]  23.200.122
6355   [nan]  23.200.122
6356   [nan]  23.200.122

[5845 rows x 2 columns]

Reordenamos las columnas

In [53]:
df_email_joined_2 = df_email_joined_2[['DNI', 'Email_2']]

In [54]:
df_email_joined_2.head()

          DNI Email_2
0  32.413.854   [nan]
1  32.413.854   [nan]
3  35.179.685   [nan]
4  35.179.685   [nan]
6  37.497.005   [nan]

### 3.1.1) Agrupamos por DNI

Vamos a agrupar por DNI

In [55]:
df_grouped_2 = df_email_joined_2.groupby('DNI').agg({'Email_2': 'sum'})

In [56]:
df_grouped_2

                                                      Email_2
DNI
10.113.417                [nan, nan, nan, nan, nan, nan, nan]
10.457.610                 [abigailchocobar@outlook.com, nan]
10.542.118  [electrozarate@arnet.com.ar, nan, nan, nan, na...
10.550.292  [imperatore.roberto@gmail.com, nan, nan, nan, ...
10.588.822   [tonelli_jorge@yahoo.com.ar, nan, nan, nan, nan]
...                                                       ...
95.907.755                               [nan, nan, nan, nan]
95.910.871                               [nan, nan, nan, nan]
95.925.629                                              [nan]
95.963.998                                              [nan]
99.999.999  [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...

[423 rows x 1 columns]

Reordenamos las columnas

### 3.1.2) Eliminación de NaNs

Vamos a eliminar todos los NaNs de las listas

In [57]:
df_grouped_2['Email_2'] = [[x for x in df_grouped_2['Email_2'] [i] if pd.notnull(x)] for i in range (len(df_grouped_2['Email_2']))]

In [58]:
df_grouped_2

                                   Email_2
DNI
10.113.417                              []
10.457.610   [abigailchocobar@outlook.com]
10.542.118    [electrozarate@arnet.com.ar]
10.550.292  [imperatore.roberto@gmail.com]
10.588.822    [tonelli_jorge@yahoo.com.ar]
...                                    ...
95.907.755                              []
95.910.871                              []
95.925.629                              []
95.963.998                              []
99.999.999                              []

[423 rows x 1 columns]

### 3.1.3) Eliminación de Duplicados dentro de cada lista

Vamos a eliminar todos los duplicados qeu puedan aparecer dentro de cada lista de mails

In [59]:
df_grouped_2['Email_2'] = [list(dict.fromkeys(df_grouped_2['Email_2'][i])) for i in range (len(df_grouped_2['Email_2']))]

In [60]:
df_grouped_2

                                   Email_2
DNI
10.113.417                              []
10.457.610   [abigailchocobar@outlook.com]
10.542.118    [electrozarate@arnet.com.ar]
10.550.292  [imperatore.roberto@gmail.com]
10.588.822    [tonelli_jorge@yahoo.com.ar]
...                                    ...
95.907.755                              []
95.910.871                              []
95.925.629                              []
95.963.998                              []
99.999.999                              []

[423 rows x 1 columns]

### 3.1.4) Conversión a Diccionarios

Vamos a convertir este dataframe a un diccionario para luego mergearlo

In [61]:
dict_email_2 = df_grouped_2.to_dict()

In [62]:
dict_email_2

{'Email_2': {'10.113.417': [],
  '10.457.610': ['abigailchocobar@outlook.com'],
  '10.542.118': ['electrozarate@arnet.com.ar'],
  '10.550.292': ['imperatore.roberto@gmail.com'],
  '10.588.822': ['tonelli_jorge@yahoo.com.ar'],
  '10.828.195': ['victoriavaldez1@hotmail.com'],
  '10.914.160': ['gonzalezsilva@hotmail.com'],
  '11.119.703': ['carlosjofre_15@hotmail.com'],
  '11.352.381': [],
  '11.449.454': [],
  '11.458.186': ['mdac@fibertel.com.ar'],
  '11.532.442': [],
  '11.609.850': ['nori_daiara1604@hotmail.com'],
  '11.661.897': [],
  '11.726.629': ['robarcio@gmail.com'],
  '11.738.163': ['teresagil@fibertel.com.ar'],
  '11.781.412': [],
  '11.988.891': ['ctoranzo@fibertel.com.ar'],
  '12.102.658': [],
  '12.150.630': [],
  '12.187.195': ['monicavildoza2010@hotmail.com.ar'],
  '12.216.533': [],
  '12.310.677': [],
  '12.490.261': [],
  '12.510.194': [],
  '12.518.371': [],
  '12.527.136': ['gabrielabellugni@hotmail.com'],
  '12.528.196': ['georgecapi85@hotmail.com'],
  '12.557.321': ['estudiocontablemonti@speedy.com'],
  '12.849.140': ['aperricone@hotmail.com'],
  '12.906.477': ['kurtito58@gmail.com'],
  '12.998.884': ['Paogris_79@hotmail.com'],
  '13.020.669': ['maclara_publi@yahoo.com.ar'],
  '13.102.749': ['lavallemc@gmail.com'],
  '13.104.126': ['MIRTASESALI@HOTMAIL.COM'],
  '13.241.588': [],
  '13.335.108': [],
  '13.473.568': [],
  '13.521.234': ['rominanegri18@gmail.com'],
  '13.715.182': ['obra@live.com.ar'],
  '13.724.246': ['rosanaandreagaravaglia@gmail.com'],
  '13.786.179': [],
  '13.827.756': ['odongim@hotmail.com'],
  '13.897.967': [],
  '14.142.726': [],
  '14.189.868': ['cdm_mag@yahoo.com.ar'],
  '14.292.134': [],
  '14.315.405': [],
  '14.330.430': [],
  '14.431.212': [],
  '14.510.840': ['karlosmartino@hotmail.com'],
  '14.572.108': [],
  '14.614.751': [],
  '14.621.109': [],
  '14.641.084': [],
  '14.668.471': ['rcotugno61@gmail.com'],
  '14.792.174': ['capandegui_ruben@yahoo.com.ar'],
  '14.805.152': [],
  '14.909.720': [],
  '14.923.209': ['juangimenezz17@gmail.com'],
  '14.996.996': ['JORGEELANGEL@HOTMAIL.COM.AR'],
  '16.057.898': ['clauricobelli@hotmail.com'],
  '16.069.473': [],
  '16.161.232': ['marceloaraujo262@gmail.com'],
  '16.203.511': [],
  '16.209.880': ['alevalle27@gmail.com'],
  '16.216.373': [],
  '16.272.189': [],
  '16.364.432': ['dellblu_24@hotmail.com'],
  '16.511.461': ['ely-wil@hotmail.com'],
  '16.597.233': [],
  '16.710.238': [],
  '16.947.042': ['mel_franqui@hotmail.com.ar'],
  '16.947.748': ['nancyponce@hotmail.com.ar'],
  '17.002.258': ['gabriel_nexo@hotmail.com'],
  '17.015.991': [],
  '17.148.042': [],
  '17.176.267': [],
  '17.198.028': ['mamiehijos@gmail.com'],
  '17.278.252': [],
  '17.287.816': [],
  '17.364.920': ['gcendon@deinsumos.com'],
  '17.648.889': ['ROCCOMDQ5@GMAIL.COM'],
  '17.702.265': [],
  '17.773.158': ['vo_ant@hotmail.com'],
  '17.790.304': [],
  '17.901.990': [],
  '17.911.071': [],
  '18.015.980': ['silviaoro7@hotmail.com'],
  '18.016.489': [],
  '18.043.910': ['paola.f.postiglione@gmail.com'],
  '18.079.913': [],
  '18.120.040': [],
  '18.153.418': ['peronisebastian@yahoo.com'],
  '18.176.172': ['Sanchezcarla187@gmail.com'],
  '18.248.744': [],
  '18.249.201': [],
  '18.258.955': [],
  '18.285.902': ['rcffosso@live.com'],
  '18.339.498': ['jhlkjh@speedy.com'],
  '18.349.427': ['suarezmarcos@arnet.com.ar'],
  '18.486.933': [],
  '18.615.906': [],
  '18.765.053': ['lilafernandez55@gmail.com'],
  '19.057.444': [],
  '19.075.861': [],
  '19.075.942': [],
  '2.624.024': ['doris.mancinella@hotmail.com'],
  '20.247.366': ['gerencia@carolinabarreto.com'],
  '20.349.045': [],
  '20.368.707': [],
  '20.373.119': [],
  '20.479.481': [],
  '20.500.482': ['giannicentrointegral@hotmail.com'],
  '20.543.949': [],
  '20.622.745': ['adrianacampos-2013@hotmail.com'],
  '20.714.693': [],
  '20.732.716': [],
  '20.734.815': [],
  '20.873.335': [],
  '20.987.290': [],
  '21.141.204': [],
  '21.401.388': [],
  '21.521.117': [],
  '21.553.415': ['scelorri@hotmail.com'],
  '21.584.500': ['trinajstic@hotmail.com'],
  '21.658.082': [],
  '21.684.668': [],
  '21.701.357': [],
  '21.771.793': [],
  '22.033.532': [],
  '22.138.341': ['florcabanas.02@gmail.com'],
  '22.222.973': [],
  '22.224.629': [],
  '22.245.380': ['ritac.moralejo@gmail.com'],
  '22.300.360': ['laurafalletta@hotmail.com'],
  '22.344.499': ['g.gioia@fibertel.com.ar'],
  '22.375.137': [],
  '22.439.481': [],
  '22.564.461': [],
  '22.756.920': ['marcefrette@hotmail.com'],
  '22.823.112': ['svetri@basico.com.ar'],
  '23.031.707': [],
  '23.101.463': ['hane-seba@hotmail.com'],
  '23.114.293': ['nopoosee@gmail.com'],
  '23.200.122': [],
  '23.395.331': [],
  '23.447.249': ['diego.garciasosa@gmail.com'],
  '23.453.906': [],
  '23.461.898': [],
  '23.470.018': [],
  '23.537.920': [],
  '23.606.915': ['ortigoztam@hotmail.com'],
  '23.703.051': ['flavialoremarinaro@hotmail.com'],
  '23.720.379': [],
  '23.802.846': ['uhrig.laura@gmail.com'],
  '23.864.001': [],
  '23.887.472': ['albertomendoza800@msn.com'],
  '23.944.899': [],
  '23.958.098': ['adriana301514@live.com.ar'],
  '24.004.157': ['car.lac.c@hotmail.com'],
  '24.029.110': [],
  '24.030.436': [],
  '24.160.833': [],
  '24.196.072': [],
  '24.284.696': ['ciela_gra@yahoo.com.ar'],
  '24.308.646': [],
  '24.310.271': [],
  '24.318.146': [],
  '24.379.232': ['queflatter@hotmail.com'],
  '24.463.715': ['jcaminodali@gmail.com'],
  '24.566.584': ['elchueco29@hotmail.com'],
  '24.587.502': [],
  '24.816.654': [],
  '25.172.198': [],
  '25.202.699': [],
  '25.226.126': ['anazzola@tierrade.com.ar'],
  '25.521.901': [],
  '25.551.826': [],
  '25.594.915': [],
  '25.640.797': ['jorge.ulicki@gmail.com'],
  '25.644.051': [],
  '25.859.149': ['perez.mariela77@hotmail.com'],
  '26.054.939': [],
  '26.178.260': [],
  '26.305.269': [],
  '26.393.577': ['angelmatador54@gmail.com'],
  '26.443.434': ['jaqui_turquesa@hotmail.com'],
  '26.505.839': ['lautentica22@hotmail.com'],
  '26.632.296': ['karimaluca@hotmail.com'],
  '26.733.100': [],
  '26.766.658': ['rialve@gmail.com'],
  '26.821.000': [],
  '27.249.297': [],
  '27.367.125': [],
  '27.535.646': ['soniajuan141@hotmail.com'],
  '27.730.735': [],
  '27.801.433': ['c.in.ivan@hotmail.com'],
  '28.027.970': ['mpauparicio@yahoo.com.ar'],
  '28.116.884': ['nataliamaldonado1980@hotmail.com'],
  '28.126.446': [],
  '28.195.824': ['cari_pedraza@hotmail.com'],
  '28.507.324': ['emiliano.schifis@gmail.com'],
  '28.580.963': ['noesol_falconi@hotmail.com'],
  '28.620.374': [],
  '28.630.018': [],
  '28.639.980': [],
  '28.653.675': [],
  '28.670.886': ['jmalvarez81@gmail.com'],
  '28.692.962': ['gcflobbe@ciudad.com.ar'],
  '28.697.515': [],
  '28.721.642': [],
  '28.831.810': [],
  '28.916.224': [],
  '28.961.050': [],
  '29.070.727': [],
  '29.088.597': [],
  '29.167.591': [],
  '29.182.598': [],
  '29.384.362': [],
  '29.614.886': [],
  '29.635.296': [],
  '29.713.519': [],
  '29.735.377': ['facundo.veron@hp.com'],
  '29.867.670': ['nhbrokers@gmail.com'],
  '29.876.564': [],
  '29.986.399': [],
  '3.454.727': ['arquicier@me.com'],
  '3.767.560': [],
  '30.124.618': ['cintia.loza@hotmail.com'],
  '30.242.982': [],
  '30.442.894': [],
  '30.460.516': [],
  '30.466.764': ['pablo-valenzuela@outlook.com'],
  '30.584.515': [],
  '30.700.222': ['crivero84@hotmail.com'],
  '30.732.928': [],
  '30.899.354': ['dantevc@mail.com.ar'],
  '30.908.491': [],
  '31.113.506': [],
  '31.240.093': [],
  '31.485.509': [],
  '31.522.435': [],
  '31.601.794': [],
  '31.615.505': ['gisela_jofre@hotmail.com'],
  '31.623.653': [],
  '31.835.237': [],
  '31.863.746': ['sergiogomez128@hotmail.com'],
  '32.022.566': [],
  '32.076.025': ['lachulis_05_sl@hotmail.com'],
  '32.111.088': [],
  '32.121.243': [],
  '32.203.742': [],
  '32.296.676': ['victoria.eckerdt@hotmail.com'],
  '32.413.854': [],
  '32.454.477': [],
  '32.711.456': [],
  '32.743.643': [],
  '32.825.110': ['diego.maidana1987@gmail.com'],
  '32.855.426': [],
  '33.034.115': ['alangonzalez_51@hotmail.com'],
  '33.320.803': ['mlaur@hotmail.com.ar'],
  '33.807.173': [],
  '33.831.251': [],
  '33.937.472': [],
  '33.962.223': [],
  '34.206.167': [],
  '34.301.412': [],
  '34.609.764': [],
  '34.695.591': [],
  '34.774.157': [],
  '34.992.817': [],
  '35.179.685': [],
  '35.240.995': [],
  '35.362.436': [],
  '35.399.142': ['vanesa.biz@gmail.com'],
  '35.457.852': ['pamee05.lxu@hotmail.com.ar'],
  '35.523.985': [],
  '35.525.509': [],
  '35.766.341': [],
  '35.785.549': [],
  '35.925.556': [],
  '35.989.682': [],
  '36.004.600': [],
  '36.105.826': [],
  '36.217.789': [],
  '36.241.266': [],
  '36.279.068': [],
  '36.320.094': [],
  '36.345.903': [],
  '36.472.366': [],
  '36.650.107': [],
  '36.759.321': [],
  '36.762.992': [],
  '36.898.224': [],
  '37.184.175': [],
  '37.225.318': [],
  '37.287.367': [],
  '37.378.335': ['luzsal85@gmail.com'],
  '37.389.240': [],
  '37.497.005': [],
  '37.630.898': [],
  '37.754.405': [],
  '37.894.517': ['lautarogmotta@gmail.com'],
  '37.934.387': ['zabielskifausto@gmail.com'],
  '38.001.464': [],
  '38.081.753': [],
  '38.108.321': [],
  '38.266.384': [],
  '38.278.822': [],
  '38.449.857': [],
  '38.722.555': [],
  '38.741.625': [],
  '38.830.223': [],
  '38.904.135': [],
  '38.936.232': [],
  '39.207.233': [],
  '39.393.726': [],
  '39.414.127': [],
  '39.427.940': [],
  '39.463.858': [],
  '39.531.374': [],
  '39.559.838': [],
  '39.605.791': [],
  '39.859.758': [],
  '4.064.259': ['hectormelito@yahoo.com.ar'],
  '4.105.890': ['ANDREA_TURRI@HOTMAIL.COM'],
  '4.155.894': ['alejandrapescio@gmail.com', 'rodolfomcann@hotmail.com'],
  '4.261.408': [],
  '4.370.376': ['obenclo@gmail.com'],
  '4.382.311': ['carloscavanna@gmail.com'],
  '4.471.357': ['S.E.GONZALEZ@OUTLOOK.COM'],
  '4.569.178': ['jcbayugar@hotmail.com'],
  '40.059.127': [],
  '40.091.227': [],
  '40.289.577': [],
  '40.352.233': [],
  '40.380.325': [],
  '40.538.862': ['rgcampos1972@gmail.com'],
  '40.748.816': [],
  '40.750.555': [],
  '40.800.514': [],
  '40.981.270': [],
  '40.985.781': [],
  '41.154.188': [],
  '41.285.341': [],
  '41.332.686': [],
  '41.537.207': [],
  '41.738.884': [],
  '41.770.240': [],
  '41.785.714': [],
  '41.898.501': [],
  '41.921.531': ['stwffaniaa@gmail.com'],
  '42.012.518': [],
  '42.136.021': [],
  '42.282.728': [],
  '42.292.197': [],
  '42.318.418': [],
  '42.325.572': ['lorenagalvan163@gmail.com'],
  '42.433.054': [],
  '42.593.967': [],
  '42.630.537': [],
  '42.799.883': [],
  '42.942.593': [],
  '43.184.139': [],
  '43.198.786': [],
  '43.213.921': [],
  '43.387.035': [],
  '43.599.037': [],
  '44.509.037': [],
  '46.810.193': [],
  '5.018.685': ['lak@fibertel.com.ar'],
  '5.255.032': [],
  '5.404.883': [],
  '5.454.238': ['gracielaprim@yahoo.com.ar'],
  '5.654.008': ['georgyz32@hotmail.com'],
  '51.169.172': [],
  '6.063.215': ['tamy1805@hotmail.com.ar'],
  '6.151.331': ['gabychamma@hotmail.com'],
  '6.437.601': ['mcibelli@waycom.com.ar'],
  '7.091.311': ['glsalguero@coto.com.ar'],
  '7.375.325': [],
  '7.651.073': ['guillermoturci@gmail.com'],
  '7.688.947': ['jjbarbaresi@yahoo.com.ar'],
  '8.273.928': ['chedickcarlos@gmial.com'],
  '8.285.885': ['rubenchevaia@ciudad.com.ar'],
  '8.321.379': ['jorgedenicola@fibertel.com.ar'],
  '8.348.214': ['EDUQAC@HOTMAIL.COM'],
  '8.422.211': [],
  '8.479.931': [],
  '8.619.522': [],
  '92.347.450': [],
  '92.463.518': [],
  '92.552.290': [],
  '92.962.620': [],
  '93.041.432': [],
  '93.293.600': [],
  '93.608.660': ['delfabbro_silvano@hotmail.com'],
  '93.705.431': [],
  '93.997.374': ['danitzasaavedra@yahoo.com'],
  '94.043.597': ['cathe.mktg@hotmail.com'],
  '94.227.438': [],
  '94.328.858': [],
  '94.361.828': [],
  '94.627.518': [],
  '94.726.194': [],
  '94.852.888': ['info@cortinasmim.com'],
  '94.854.108': [],
  '94.863.698': [],
  '94.872.762': [],
  '94.948.543': [],
  '94.965.480': ['ne-nina@hotmail.com'],
  '95.023.481': ['nahuelkreser@hotmail.com'],
  '95.044.255': [],
  '95.050.314': ['facturacionbrip@gmail.com'],
  '95.312.046': [],
  '95.793.498': [],
  '95.818.687': [],
  '95.907.755': [],
  '95.910.871': [],
  '95.925.629': [],
  '95.963.998': [],
  '99.999.999': []}}

In [63]:
dict_email_2 = dict_email_2['Email_2']

# 4) Unión de los diccionarios

Defino una función para mergear los dos diccionarios

In [64]:
def merge_dols(dol1, dol2):
    keys = set(dol1).union(dol2)
    no = []
    return dict((k, dol1.get(k, no) + dol2.get(k, no)) for k in keys)

In [65]:
dict_emails = merge_dols(dict_email_1, dict_email_2)

In [66]:
dict_emails

{'3.767.560': [],
 '4.261.408': [],
 '38.266.384': [],
 '94.627.518': [],
 '39.531.374': [],
 '36.759.321': [],
 '38.081.753': [],
 '18.339.498': ['jhlkjh@speedy.com',
  'mariano.solferino@bgh.com.ar',
  'jhlkjh@speedy.com'],
 '16.216.373': [],
 '7.651.073': ['guillermoturci@gmail.com', 'guillermoturci@gmail.com'],
 '28.639.980': [],
 '21.701.357': [],
 '25.859.149': ['perez.mariela77@hotmail.com', 'perez.mariela77@hotmail.com'],
 '16.511.461': ['ely-wil@hotmail.com', 'ely-wil@hotmail.com'],
 '14.996.996': ['JORGEELANGEL@HOTMAIL.COM.AR', 'JORGEELANGEL@HOTMAIL.COM.AR'],
 '94.965.480': ['ne-nina@hotmail.com', 'ne-nina@hotmail.com'],
 '18.176.172': ['Sanchezcarla187@gmail.com', 'Sanchezcarla187@gmail.com'],
 '23.447.249': ['diego.garciasosa@gmail.com',
  'leonel.sist@gmail.com',
  'diego.garciasosa@gmail.com'],
 '30.460.516': [],
 '37.497.005': [],
 '30.700.222': ['crivero84@hotmail.com', 'crivero84@hotmail.com'],
 '17.278.252': [],
 '13.104.126': ['MIRTASESALI@HOTMAIL.COM', 'MIRTASESALI@HOTMAIL.COM'],
 '39.207.233': [],
 '25.551.826': [],
 '22.344.499': ['g.gioia@fibertel.com.ar', 'g.gioia@fibertel.com.ar'],
 '95.907.755': [],
 '12.510.194': [],
 '17.901.990': ['tedesa@fibertel.com.ar'],
 '18.285.902': ['rcffosso@live.com', 'rcffosso@live.com'],
 '30.732.928': [],
 '20.247.366': ['gerencia@carolinabarreto.com',
  'gerencia@carolinabarreto.com'],
 '23.802.846': ['uhrig.laura@gmail.com'],
 '39.393.726': [],
 '20.732.716': [],
 '30.908.491': ['jmontiel@coarco.com.ar'],
 '39.605.791': [],
 '22.224.629': [],
 '23.395.331': [],
 '13.102.749': ['lavallemc@gmail.com', 'lavallemc@gmail.com'],
 '40.091.227': [],
 '24.029.110': [],
 '94.328.858': [],
 '19.075.942': [],
 '5.654.008': ['georgyz32@hotmail.com',
  'ep4moron@hotmail.com',
  'georgyz32@hotmail.com'],
 '14.668.471': ['rcotugno61@gmail.com', 'rcotugno61@gmail.com'],
 '18.120.040': [],
 '43.213.921': [],
 '41.285.341': [],
 '23.200.122': [],
 '12.310.677': [],
 '20.349.045': [],
 '19.057.444': [],
 '99.999.999': [],
 '18.486.933': [],
 '42.292.197': [],
 '38.278.822': [],
 '34.609.764': [],
 '38.904.135': [],
 '5.404.883': [],
 '39.414.127': ['ssato@toyota.com.ar'],
 '6.437.601': ['mcibelli@waycom.com.ar', 'mcibelli@waycom.com.ar'],
 '13.715.182': ['obra@live.com.ar',
  'monumentoalabandera@citynet.net.ar',
  'obra@live.com.ar'],
 '12.557.321': ['estudiocontablemonti@speedy.com',
  'estudiocontablemonti@speedy.com'],
 '31.863.746': ['sergiogomez128@hotmail.com', 'sergiogomez128@hotmail.com'],
 '40.289.577': [],
 '21.521.117': [],
 '16.947.748': ['nancyponce@hotmail.com.ar',
  'ivannaluz0707@gmail.com',
  'nancyponce@hotmail.com.ar'],
 '29.070.727': [],
 '17.015.991': [],
 '21.684.668': [],
 '38.741.625': [],
 '25.172.198': [],
 '26.393.577': ['angelmatador54@gmail.com', 'angelmatador54@gmail.com'],
 '17.148.042': [],
 '32.022.566': [],
 '4.569.178': ['jcbayugar@hotmail.com', 'jcbayugar@hotmail.com'],
 '42.136.021': [],
 '7.375.325': [],
 '17.287.816': [],
 '23.720.379': [],
 '41.537.207': [],
 '29.614.886': [],
 '32.076.025': ['lachulis_05_sl@hotmail.com', 'lachulis_05_sl@hotmail.com'],
 '37.184.175': [],
 '37.630.898': [],
 '92.552.290': [],
 '20.479.481': ['contaduria@casadesantiago.gob.ar'],
 '34.301.412': [],
 '46.810.193': [],
 '26.733.100': [],
 '24.566.584': ['elchueco29@hotmail.com', 'elchueco29@hotmail.com'],
 '11.449.454': [],
 '33.034.115': ['alangonzalez_51@hotmail.com',
  'vucetichsedelaplata@hotmail.com',
  'alangonzalez_51@hotmail.com'],
 '23.944.899': [],
 '42.318.418': [],
 '93.997.374': ['danitzasaavedra@yahoo.com', 'danitzasaavedra@yahoo.com'],
 '17.364.920': ['gcendon@deinsumos.com', 'gcendon@deinsumos.com'],
 '22.439.481': [],
 '28.620.374': [],
 '24.379.232': ['queflatter@hotmail.com', 'queflatter@hotmail.com'],
 '4.471.357': ['S.E.GONZALEZ@OUTLOOK.COM', 'S.E.GONZALEZ@OUTLOOK.COM'],
 '21.401.388': [],
 '3.454.727': ['arquicier@me.com', 'arquicier@me.com'],
 '26.505.839': ['lautentica22@hotmail.com', 'lautentica22@hotmail.com'],
 '23.031.707': [],
 '44.509.037': [],
 '94.854.108': [],
 '20.622.745': ['adrianacampos-2013@hotmail.com',
  'adrianacampos-2013@hotmail.com'],
 '5.018.685': ['lak@fibertel.com.ar', 'lak@fibertel.com.ar'],
 '94.361.828': [],
 '95.963.998': [],
 '21.141.204': [],
 '30.124.618': ['cintia.loza@hotmail.com', 'cintia.loza@hotmail.com'],
 '4.155.894': ['alejandrapescio@gmail.com',
  'alejandrapescio@gmail.com',
  'rodolfomcann@hotmail.com'],
 '35.989.682': [],
 '35.457.852': ['pamee05.lxu@hotmail.com.ar', 'pamee05.lxu@hotmail.com.ar'],
 '11.609.850': ['nori_daiara1604@hotmail.com', 'nori_daiara1604@hotmail.com'],
 '25.640.797': ['jorge.ulicki@gmail.com',
  'mdufourquet@exportar.org.ar',
  'jorge.ulicki@gmail.com'],
 '41.738.884': [],
 '14.572.108': [],
 '39.559.838': [],
 '17.790.304': ['andresf@sanatoriolaprida.com.ar'],
 '12.528.196': ['georgecapi85@hotmail.com',
  'rjcastillo@mardelplata.gob.ar',
  'georgecapi85@hotmail.com'],
 '38.449.857': [],
 '36.898.224': [],
 '13.724.246': ['rosanaandreagaravaglia@gmail.com',
  'rosanaandreagaravaglia@gmail.com'],
 '32.203.742': [],
 '23.703.051': ['flavialoremarinaro@hotmail.com',
  'flavialoremarinaro@hotmail.com'],
 '36.345.903': [],
 '42.630.537': [],
 '18.015.980': ['silviaoro7@hotmail.com',
  'diegobollo@hotmail.com',
  'silviaoro7@hotmail.com'],
 '24.196.072': [],
 '6.063.215': ['tamy1805@hotmail.com.ar', 'tamy1805@hotmail.com.ar'],
 '18.615.906': [],
 '28.195.824': ['cari_pedraza@hotmail.com',
  'saq_cbg@hotmail.com',
  'cari_pedraza@hotmail.com'],
 '34.695.591': ['catedral2salta@farmar.com.ar'],
 '26.821.000': [],
 '8.422.211': ['cguzman47@yahoo.com.ar'],
 '36.320.094': [],
 '20.500.482': ['giannicentrointegral@hotmail.com',
  'giannicentrointegral@hotmail.com'],
 '26.632.296': ['karimaluca@hotmail.com',
  'residenciapediatriavelez@gmail.com',
  'karimaluca@hotmail.com'],
 '17.648.889': ['ROCCOMDQ5@GMAIL.COM', 'ROCCOMDQ5@GMAIL.COM'],
 '43.387.035': [],
 '14.330.430': [],
 '24.310.271': [],
 '14.805.152': [],
 '28.027.970': ['mpauparicio@yahoo.com.ar', 'mpauparicio@yahoo.com.ar'],
 '16.161.232': ['marceloaraujo262@gmail.com', 'marceloaraujo262@gmail.com'],
 '20.373.119': [],
 '27.249.297': [],
 '21.553.415': ['scelorri@hotmail.com', 'scelorri@hotmail.com'],
 '36.650.107': [],
 '8.619.522': [],
 '32.413.854': [],
 '23.114.293': ['nopoosee@gmail.com',
  'gestoria@orestedurante.com.ar',
  'nopoosee@gmail.com'],
 '23.958.098': ['adriana301514@live.com.ar', 'adriana301514@live.com.ar'],
 '11.661.897': [],
 '31.615.505': ['gisela_jofre@hotmail.com',
  'mariamomandrini@etys.com.ar',
  'gisela_jofre@hotmail.com'],
 '95.312.046': [],
 '4.382.311': ['carloscavanna@gmail.com', 'carloscavanna@gmail.com'],
 '34.206.167': [],
 '7.091.311': ['glsalguero@coto.com.ar', 'glsalguero@coto.com.ar'],
 '25.226.126': ['anazzola@tierrade.com.ar', 'anazzola@tierrade.com.ar'],
 '94.872.762': [],
 '22.823.112': ['svetri@basico.com.ar',
  'recepcion@basicospos.com',
  'svetri@basico.com.ar'],
 '30.442.894': [],
 '28.126.446': [],
 '23.453.906': [],
 '17.702.265': [],
 '14.614.751': [],
 '37.894.517': ['lautarogmotta@gmail.com', 'lautarogmotta@gmail.com'],
 '17.911.071': ['cslcontaduria@sanluis.gov.ar'],
 '34.774.157': [],
 '40.750.555': [],
 '33.962.223': [],
 '10.457.610': ['abigailchocobar@outlook.com'],
 '28.721.642': [],
 '21.658.082': ['ezcaservicios@hotmail.com'],
 '23.470.018': [],
 '36.241.266': [],
 '14.292.134': [],
 '37.225.318': [],
 '11.738.163': ['teresagil@fibertel.com.ar', 'teresagil@fibertel.com.ar'],
 '11.352.381': [],
 '30.242.982': ['administracion@servincosa.com.ar'],
 '21.771.793': ['operadoraprensa@gmail.com'],
 '17.176.267': [],
 '14.142.726': [],
 '30.584.515': [],
 '28.507.324': ['emiliano.schifis@gmail.com', 'emiliano.schifis@gmail.com'],
 '27.367.125': ['donjulioplanta@gmail.com'],
 '29.735.377': ['facundo.veron@hp.com',
  'alejandro.delbrutto@gmail.com',
  'facundo.veron@hp.com'],
 '41.921.531': ['stwffaniaa@gmail.com', 'stwffaniaa@gmail.com'],
 '12.849.140': ['aperricone@hotmail.com', 'aperricone@hotmail.com'],
 '32.825.110': ['diego.maidana1987@gmail.com',
  'demian.terriles@galenoargentina.com.ar',
  'diego.maidana1987@gmail.com'],
 '42.593.967': [],
 '23.887.472': ['albertomendoza800@msn.com', 'albertomendoza800@msn.com'],
 '8.273.928': ['chedickcarlos@gmial.com', 'chedickcarlos@gmial.com'],
 '94.852.888': ['info@cortinasmim.com', 'info@cortinasmim.com'],
 '14.621.109': [],
 '12.906.477': ['kurtito58@gmail.com', 'kurtito58@gmail.com'],
 '20.873.335': [],
 '2.624.024': ['doris.mancinella@hotmail.com', 'doris.mancinella@hotmail.com'],
 '25.521.901': [],
 '24.816.654': [],
 '40.352.233': [],
 '42.282.728': [],
 '22.564.461': [],
 '23.461.898': [],
 '17.198.028': ['mamiehijos@gmail.com', 'mamiehijos@gmail.com'],
 '35.399.142': ['vanesa.biz@gmail.com', 'vanesa.biz@gmail.com'],
 '42.325.572': ['lorenagalvan163@gmail.com', 'lorenagalvan163@gmail.com'],
 '32.743.643': [],
 '32.855.426': [],
 '22.033.532': ['ivannaluz0707@gmail.com'],
 '27.535.646': ['soniajuan141@hotmail.com', 'soniajuan141@hotmail.com'],
 '4.370.376': ['obenclo@gmail.com', 'obenclo@gmail.com'],
 '5.255.032': [],
 '31.240.093': [],
 '42.433.054': [],
 '16.947.042': ['mel_franqui@hotmail.com.ar', 'mel_franqui@hotmail.com.ar'],
 '32.296.676': ['victoria.eckerdt@hotmail.com',
  'victoria.eckerdt@hotmail.com'],
 '11.458.186': ['mdac@fibertel.com.ar', 'mdac@fibertel.com.ar'],
 '13.827.756': ['odongim@hotmail.com', 'odongim@hotmail.com'],
 '37.378.335': ['luzsal85@gmail.com', 'luzsal85@gmail.com'],
 '13.897.967': [],
 '23.101.463': ['hane-seba@hotmail.com',
  'vucetichsedelaplata@hotmail.com',
  'hane-seba@hotmail.com'],
 '20.543.949': [],
 '42.799.883': [],
 '35.240.995': ['nsantos@maxidescuento.com.ar'],
 '38.830.223': [],
 '24.587.502': ['registrocompras@e-planning.net'],
 '18.258.955': [],
 '35.362.436': ['sebastian.alvarez@jumbo.com.ar',
  'sucursal-rosario@grupo-gestion.com.ar'],
 '92.463.518': [],
 '94.863.698': [],
 '95.925.629': [],
 '32.454.477': [],
 '31.623.653': [],
 '4.105.890': ['ANDREA_TURRI@HOTMAIL.COM', 'ANDREA_TURRI@HOTMAIL.COM'],
 '51.169.172': [],
 '7.688.947': ['jjbarbaresi@yahoo.com.ar', 'jjbarbaresi@yahoo.com.ar'],
 '14.189.868': ['cdm_mag@yahoo.com.ar', 'cdm_mag@yahoo.com.ar'],
 '8.348.214': ['EDUQAC@HOTMAIL.COM', 'EDUQAC@HOTMAIL.COM'],
 '92.962.620': [],
 '10.542.118': ['electrozarate@arnet.com.ar', 'electrozarate@arnet.com.ar'],
 '32.121.243': [],
 '29.876.564': [],
 '29.167.591': [],
 '35.179.685': [],
 '29.635.296': ['sistemas@merlo.gov.ar'],
 '29.867.670': ['nhbrokers@gmail.com',
  'madercid@hotmail.com',
  'nhbrokers@gmail.com'],
 '36.279.068': [],
 '40.059.127': [],
 '16.057.898': ['clauricobelli@hotmail.com', 'clauricobelli@hotmail.com'],
 '42.012.518': [],
 '14.315.405': [],
 '16.597.233': ['linardi@grupoisn.com.ar'],
 '27.730.735': [],
 '19.075.861': [],
 '28.630.018': [],
 '14.431.212': [],
 '38.108.321': [],
 '42.942.593': [],
 '26.178.260': [],
 '95.044.255': [],
 '12.216.533': [],
 '31.522.435': [],
 '95.050.314': ['facturacionbrip@gmail.com', 'facturacionbrip@gmail.com'],
 '94.043.597': ['cathe.mktg@hotmail.com', 'cathe.mktg@hotmail.com'],
 '12.490.261': [],
 '22.375.137': [],
 '43.599.037': [],
 '31.485.509': [],
 '13.786.179': [],
 '22.138.341': ['florcabanas.02@gmail.com', 'florcabanas.02@gmail.com'],
 '37.934.387': ['zabielskifausto@gmail.com', 'zabielskifausto@gmail.com'],
 '40.538.862': ['rgcampos1972@gmail.com', 'rgcampos1972@gmail.com'],
 '14.792.174': ['capandegui_ruben@yahoo.com.ar',
  'capandegui_ruben@yahoo.com.ar'],
 '39.463.858': [],
 '94.726.194': [],
 '41.785.714': ['jia@yahoo.com'],
 '18.349.427': ['suarezmarcos@arnet.com.ar',
  'minstituto@yahoo.com.ar',
  'suarezmarcos@arnet.com.ar'],
 '29.986.399': ['administracion@lahoresa.com.ar'],
 '93.293.600': [],
 '28.653.675': [],
 '13.473.568': [],
 '93.608.660': ['delfabbro_silvano@hotmail.com',
  'delfabbro_silvano@hotmail.com'],
 '11.988.891': ['ctoranzo@fibertel.com.ar', 'ctoranzo@fibertel.com.ar'],
 '27.801.433': ['c.in.ivan@hotmail.com', 'c.in.ivan@hotmail.com'],
 '94.227.438': [],
 '24.318.146': [],
 '12.102.658': [],
 '28.670.886': ['jmalvarez81@gmail.com', 'jmalvarez81@gmail.com'],
 '28.916.224': [],
 '18.043.910': ['paola.f.postiglione@gmail.com',
  'acaserio@medicinaesencial.com.ar',
  'paola.f.postiglione@gmail.com'],
 '18.248.744': ['ep4moron@hotmail.com'],
 '24.030.436': [],
 '41.770.240': [],
 '12.187.195': ['monicavildoza2010@hotmail.com.ar',
  'monicavildoza2010@hotmail.com.ar'],
 '24.284.696': ['ciela_gra@yahoo.com.ar', 'ciela_gra@yahoo.com.ar'],
 '95.023.481': ['nahuelkreser@hotmail.com', 'nahuelkreser@hotmail.com'],
 '23.537.920': [],
 '28.697.515': [],
 '33.320.803': ['mlaur@hotmail.com.ar', 'mlaur@hotmail.com.ar'],
 '8.479.931': [],
 '95.818.687': [],
 '39.859.758': [],
 '6.151.331': ['gabychamma@hotmail.com', 'gabychamma@hotmail.com'],
 '14.641.084': [],
 '10.113.417': [],
 '35.766.341': [],
 '10.914.160': ['gonzalezsilva@hotmail.com', 'gonzalezsilva@hotmail.com'],
 '37.287.367': [],
 '13.521.234': ['rominanegri18@gmail.com', 'rominanegri18@gmail.com'],
 '36.472.366': [],
 '20.987.290': [],
 '40.981.270': [],
 '13.335.108': [],
 '12.518.371': [],
 '5.454.238': ['gracielaprim@yahoo.com.ar', 'gracielaprim@yahoo.com.ar'],
 '22.756.920': ['marcefrette@hotmail.com',
  'cmanzanos@pprsolution.com',
  'marcefrette@hotmail.com'],
 '33.807.173': [],
 '16.203.511': [],
 '31.113.506': [],
 '28.831.810': ['comunicaciones@oca.com.ar'],
 '22.300.360': ['laurafalletta@hotmail.com', 'laurafalletta@hotmail.com'],
 '25.202.699': [],
 '34.992.817': [],
 '18.153.418': ['peronisebastian@yahoo.com', 'peronisebastian@yahoo.com'],
 '33.937.472': [],
 '32.711.456': [],
 '35.525.509': [],
 '16.069.473': [],
 '24.308.646': [],
 '11.532.442': [],
 '26.305.269': [],
 '36.105.826': [],
 '20.368.707': [],
 '16.364.432': ['dellblu_24@hotmail.com', 'dellblu_24@hotmail.com'],
 '35.523.985': [],
 '28.692.962': ['gcflobbe@ciudad.com.ar',
  'mcarole@afip.gob.ar',
  'gcflobbe@ciudad.com.ar'],
 '35.925.556': [],
 '37.754.405': [],
 '25.644.051': ['jorgezar@hotmail.com'],
 '38.001.464': ['n.cagnolo@clubtalleres.com.ar'],
 '26.766.658': ['rialve@gmail.com', 'rialve@gmail.com'],
 '93.041.432': [],
 '29.713.519': [],
 '94.948.543': [],
 '11.781.412': [],
 '23.606.915': ['ortigoztam@hotmail.com',
  'farmaciadoca@gmail.com',
  'ortigoztam@hotmail.com'],
 '13.241.588': [],
 '16.209.880': ['alevalle27@gmail.com',
  'alejandrovalle@tresvalles.com.ar',
  'alevalle27@gmail.com'],
 '24.004.157': ['car.lac.c@hotmail.com', 'car.lac.c@hotmail.com'],
 '16.272.189': [],
 '40.380.325': [],
 '20.714.693': [],
 '29.088.597': [],
 '14.923.209': ['juangimenezz17@gmail.com', 'juangimenezz17@gmail.com'],
 '10.550.292': ['imperatore.roberto@gmail.com',
  'imperatore.roberto@gmail.com'],
 '31.835.237': [],
 '17.773.158': ['vo_ant@hotmail.com', 'vo_ant@hotmail.com'],
 '12.150.630': [],
 '26.054.939': [],
 '30.466.764': ['pablo-valenzuela@outlook.com',
  'pablo-valenzuela@outlook.com'],
 '41.154.188': [],
 '35.785.549': [],
 '22.245.380': ['ritac.moralejo@gmail.com', 'ritac.moralejo@gmail.com'],
 '24.463.715': ['jcaminodali@gmail.com',
  'administracion@grilloconstrucciones.com',
  'jcaminodali@gmail.com'],
 '43.198.786': [],
 '38.936.232': [],
 '8.285.885': ['rubenchevaia@ciudad.com.ar', 'rubenchevaia@ciudad.com.ar'],
 '16.710.238': [],
 '40.985.781': [],
 '18.079.913': [],
 '41.898.501': [],
 '12.998.884': ['Paogris_79@hotmail.com'],
 '28.580.963': ['noesol_falconi@hotmail.com', 'noesol_falconi@hotmail.com'],
 '29.182.598': [],
 '25.594.915': ['marialaura.logiovine@aig.com'],
 '31.601.794': [],
 '18.765.053': ['lilafernandez55@gmail.com', 'lilafernandez55@gmail.com'],
 '40.748.816': [],
 '36.004.600': [],
 '23.864.001': [],
 '12.527.136': ['gabrielabellugni@hotmail.com',
  'mariasoledad.correia@ecco.com.ar',
  'damianlucero@ospec.org.ar',
  'gabrielabellugni@hotmail.com'],
 '11.119.703': ['carlosjofre_15@hotmail.com', 'carlosjofre_15@hotmail.com'],
 '38.722.555': [],
 '40.800.514': [],
 '24.160.833': ['drhode@wal-mart.com.ar'],
 '36.217.789': [],
 '36.762.992': [],
 '39.427.940': [],
 '18.249.201': [],
 '14.909.720': [],
 '4.064.259': ['hectormelito@yahoo.com.ar', 'hectormelito@yahoo.com.ar'],
 '28.961.050': [],
 '92.347.450': ['info@modelodebellavista.com.ar'],
 '10.588.822': ['tonelli_jorge@yahoo.com.ar', 'tonelli_jorge@yahoo.com.ar'],
 '8.321.379': ['jorgedenicola@fibertel.com.ar',
  'jorgedenicola@fibertel.com.ar'],
 '13.020.669': ['maclara_publi@yahoo.com.ar',
  'ezequielpereyra@hurlingham.gob.ar',
  'maclara_publi@yahoo.com.ar'],
 '10.828.195': ['victoriavaldez1@hotmail.com', 'victoriavaldez1@hotmail.com'],
 '20.734.815': [],
 '41.332.686': [],
 '11.726.629': ['robarcio@gmail.com', 'robarcio@gmail.com'],
 '30.899.354': ['dantevc@mail.com.ar', 'dantevc@mail.com.ar'],
 '43.184.139': [],
 '95.910.871': ['admin@akribis.com.ar'],
 '37.389.240': [],
 '17.002.258': ['gabriel_nexo@hotmail.com', 'gabriel_nexo@hotmail.com'],
 '14.510.840': ['karlosmartino@hotmail.com',
  'cef10santafe@hotmail.com.ar',
  'karlosmartino@hotmail.com'],
 '28.116.884': ['nataliamaldonado1980@hotmail.com',
  'nataliamaldonado1980@hotmail.com'],
 '32.111.088': [],
 '18.016.489': ['administracion@alisergastronomia.com.ar'],
 '93.705.431': [],
 '21.584.500': ['trinajstic@hotmail.com',
  'ep4moron@hotmail.com',
  'trinajstic@hotmail.com'],
 '33.831.251': [],
 '22.222.973': [],
 '95.793.498': [],
 '26.443.434': ['jaqui_turquesa@hotmail.com',
  'residenciapediatriavelez@gmail.com',
  'jaqui_turquesa@hotmail.com'],
 '29.384.362': []}

## 4.1) Duplicados

Vamos a remover los duplicados dentro de cada lista de mails

In [67]:
dict_emails_clean = {k:list(set(v)) for k, v in dict_emails.items()}

In [68]:
dict_emails_clean

{'3.767.560': [],
 '4.261.408': [],
 '38.266.384': [],
 '94.627.518': [],
 '39.531.374': [],
 '36.759.321': [],
 '38.081.753': [],
 '18.339.498': ['jhlkjh@speedy.com', 'mariano.solferino@bgh.com.ar'],
 '16.216.373': [],
 '7.651.073': ['guillermoturci@gmail.com'],
 '28.639.980': [],
 '21.701.357': [],
 '25.859.149': ['perez.mariela77@hotmail.com'],
 '16.511.461': ['ely-wil@hotmail.com'],
 '14.996.996': ['JORGEELANGEL@HOTMAIL.COM.AR'],
 '94.965.480': ['ne-nina@hotmail.com'],
 '18.176.172': ['Sanchezcarla187@gmail.com'],
 '23.447.249': ['diego.garciasosa@gmail.com', 'leonel.sist@gmail.com'],
 '30.460.516': [],
 '37.497.005': [],
 '30.700.222': ['crivero84@hotmail.com'],
 '17.278.252': [],
 '13.104.126': ['MIRTASESALI@HOTMAIL.COM'],
 '39.207.233': [],
 '25.551.826': [],
 '22.344.499': ['g.gioia@fibertel.com.ar'],
 '95.907.755': [],
 '12.510.194': [],
 '17.901.990': ['tedesa@fibertel.com.ar'],
 '18.285.902': ['rcffosso@live.com'],
 '30.732.928': [],
 '20.247.366': ['gerencia@carolinabarreto.com'],
 '23.802.846': ['uhrig.laura@gmail.com'],
 '39.393.726': [],
 '20.732.716': [],
 '30.908.491': ['jmontiel@coarco.com.ar'],
 '39.605.791': [],
 '22.224.629': [],
 '23.395.331': [],
 '13.102.749': ['lavallemc@gmail.com'],
 '40.091.227': [],
 '24.029.110': [],
 '94.328.858': [],
 '19.075.942': [],
 '5.654.008': ['ep4moron@hotmail.com', 'georgyz32@hotmail.com'],
 '14.668.471': ['rcotugno61@gmail.com'],
 '18.120.040': [],
 '43.213.921': [],
 '41.285.341': [],
 '23.200.122': [],
 '12.310.677': [],
 '20.349.045': [],
 '19.057.444': [],
 '99.999.999': [],
 '18.486.933': [],
 '42.292.197': [],
 '38.278.822': [],
 '34.609.764': [],
 '38.904.135': [],
 '5.404.883': [],
 '39.414.127': ['ssato@toyota.com.ar'],
 '6.437.601': ['mcibelli@waycom.com.ar'],
 '13.715.182': ['obra@live.com.ar', 'monumentoalabandera@citynet.net.ar'],
 '12.557.321': ['estudiocontablemonti@speedy.com'],
 '31.863.746': ['sergiogomez128@hotmail.com'],
 '40.289.577': [],
 '21.521.117': [],
 '16.947.748': ['ivannaluz0707@gmail.com', 'nancyponce@hotmail.com.ar'],
 '29.070.727': [],
 '17.015.991': [],
 '21.684.668': [],
 '38.741.625': [],
 '25.172.198': [],
 '26.393.577': ['angelmatador54@gmail.com'],
 '17.148.042': [],
 '32.022.566': [],
 '4.569.178': ['jcbayugar@hotmail.com'],
 '42.136.021': [],
 '7.375.325': [],
 '17.287.816': [],
 '23.720.379': [],
 '41.537.207': [],
 '29.614.886': [],
 '32.076.025': ['lachulis_05_sl@hotmail.com'],
 '37.184.175': [],
 '37.630.898': [],
 '92.552.290': [],
 '20.479.481': ['contaduria@casadesantiago.gob.ar'],
 '34.301.412': [],
 '46.810.193': [],
 '26.733.100': [],
 '24.566.584': ['elchueco29@hotmail.com'],
 '11.449.454': [],
 '33.034.115': ['vucetichsedelaplata@hotmail.com',
  'alangonzalez_51@hotmail.com'],
 '23.944.899': [],
 '42.318.418': [],
 '93.997.374': ['danitzasaavedra@yahoo.com'],
 '17.364.920': ['gcendon@deinsumos.com'],
 '22.439.481': [],
 '28.620.374': [],
 '24.379.232': ['queflatter@hotmail.com'],
 '4.471.357': ['S.E.GONZALEZ@OUTLOOK.COM'],
 '21.401.388': [],
 '3.454.727': ['arquicier@me.com'],
 '26.505.839': ['lautentica22@hotmail.com'],
 '23.031.707': [],
 '44.509.037': [],
 '94.854.108': [],
 '20.622.745': ['adrianacampos-2013@hotmail.com'],
 '5.018.685': ['lak@fibertel.com.ar'],
 '94.361.828': [],
 '95.963.998': [],
 '21.141.204': [],
 '30.124.618': ['cintia.loza@hotmail.com'],
 '4.155.894': ['alejandrapescio@gmail.com', 'rodolfomcann@hotmail.com'],
 '35.989.682': [],
 '35.457.852': ['pamee05.lxu@hotmail.com.ar'],
 '11.609.850': ['nori_daiara1604@hotmail.com'],
 '25.640.797': ['jorge.ulicki@gmail.com', 'mdufourquet@exportar.org.ar'],
 '41.738.884': [],
 '14.572.108': [],
 '39.559.838': [],
 '17.790.304': ['andresf@sanatoriolaprida.com.ar'],
 '12.528.196': ['rjcastillo@mardelplata.gob.ar', 'georgecapi85@hotmail.com'],
 '38.449.857': [],
 '36.898.224': [],
 '13.724.246': ['rosanaandreagaravaglia@gmail.com'],
 '32.203.742': [],
 '23.703.051': ['flavialoremarinaro@hotmail.com'],
 '36.345.903': [],
 '42.630.537': [],
 '18.015.980': ['silviaoro7@hotmail.com', 'diegobollo@hotmail.com'],
 '24.196.072': [],
 '6.063.215': ['tamy1805@hotmail.com.ar'],
 '18.615.906': [],
 '28.195.824': ['saq_cbg@hotmail.com', 'cari_pedraza@hotmail.com'],
 '34.695.591': ['catedral2salta@farmar.com.ar'],
 '26.821.000': [],
 '8.422.211': ['cguzman47@yahoo.com.ar'],
 '36.320.094': [],
 '20.500.482': ['giannicentrointegral@hotmail.com'],
 '26.632.296': ['karimaluca@hotmail.com',
  'residenciapediatriavelez@gmail.com'],
 '17.648.889': ['ROCCOMDQ5@GMAIL.COM'],
 '43.387.035': [],
 '14.330.430': [],
 '24.310.271': [],
 '14.805.152': [],
 '28.027.970': ['mpauparicio@yahoo.com.ar'],
 '16.161.232': ['marceloaraujo262@gmail.com'],
 '20.373.119': [],
 '27.249.297': [],
 '21.553.415': ['scelorri@hotmail.com'],
 '36.650.107': [],
 '8.619.522': [],
 '32.413.854': [],
 '23.114.293': ['nopoosee@gmail.com', 'gestoria@orestedurante.com.ar'],
 '23.958.098': ['adriana301514@live.com.ar'],
 '11.661.897': [],
 '31.615.505': ['mariamomandrini@etys.com.ar', 'gisela_jofre@hotmail.com'],
 '95.312.046': [],
 '4.382.311': ['carloscavanna@gmail.com'],
 '34.206.167': [],
 '7.091.311': ['glsalguero@coto.com.ar'],
 '25.226.126': ['anazzola@tierrade.com.ar'],
 '94.872.762': [],
 '22.823.112': ['recepcion@basicospos.com', 'svetri@basico.com.ar'],
 '30.442.894': [],
 '28.126.446': [],
 '23.453.906': [],
 '17.702.265': [],
 '14.614.751': [],
 '37.894.517': ['lautarogmotta@gmail.com'],
 '17.911.071': ['cslcontaduria@sanluis.gov.ar'],
 '34.774.157': [],
 '40.750.555': [],
 '33.962.223': [],
 '10.457.610': ['abigailchocobar@outlook.com'],
 '28.721.642': [],
 '21.658.082': ['ezcaservicios@hotmail.com'],
 '23.470.018': [],
 '36.241.266': [],
 '14.292.134': [],
 '37.225.318': [],
 '11.738.163': ['teresagil@fibertel.com.ar'],
 '11.352.381': [],
 '30.242.982': ['administracion@servincosa.com.ar'],
 '21.771.793': ['operadoraprensa@gmail.com'],
 '17.176.267': [],
 '14.142.726': [],
 '30.584.515': [],
 '28.507.324': ['emiliano.schifis@gmail.com'],
 '27.367.125': ['donjulioplanta@gmail.com'],
 '29.735.377': ['alejandro.delbrutto@gmail.com', 'facundo.veron@hp.com'],
 '41.921.531': ['stwffaniaa@gmail.com'],
 '12.849.140': ['aperricone@hotmail.com'],
 '32.825.110': ['demian.terriles@galenoargentina.com.ar',
  'diego.maidana1987@gmail.com'],
 '42.593.967': [],
 '23.887.472': ['albertomendoza800@msn.com'],
 '8.273.928': ['chedickcarlos@gmial.com'],
 '94.852.888': ['info@cortinasmim.com'],
 '14.621.109': [],
 '12.906.477': ['kurtito58@gmail.com'],
 '20.873.335': [],
 '2.624.024': ['doris.mancinella@hotmail.com'],
 '25.521.901': [],
 '24.816.654': [],
 '40.352.233': [],
 '42.282.728': [],
 '22.564.461': [],
 '23.461.898': [],
 '17.198.028': ['mamiehijos@gmail.com'],
 '35.399.142': ['vanesa.biz@gmail.com'],
 '42.325.572': ['lorenagalvan163@gmail.com'],
 '32.743.643': [],
 '32.855.426': [],
 '22.033.532': ['ivannaluz0707@gmail.com'],
 '27.535.646': ['soniajuan141@hotmail.com'],
 '4.370.376': ['obenclo@gmail.com'],
 '5.255.032': [],
 '31.240.093': [],
 '42.433.054': [],
 '16.947.042': ['mel_franqui@hotmail.com.ar'],
 '32.296.676': ['victoria.eckerdt@hotmail.com'],
 '11.458.186': ['mdac@fibertel.com.ar'],
 '13.827.756': ['odongim@hotmail.com'],
 '37.378.335': ['luzsal85@gmail.com'],
 '13.897.967': [],
 '23.101.463': ['vucetichsedelaplata@hotmail.com', 'hane-seba@hotmail.com'],
 '20.543.949': [],
 '42.799.883': [],
 '35.240.995': ['nsantos@maxidescuento.com.ar'],
 '38.830.223': [],
 '24.587.502': ['registrocompras@e-planning.net'],
 '18.258.955': [],
 '35.362.436': ['sebastian.alvarez@jumbo.com.ar',
  'sucursal-rosario@grupo-gestion.com.ar'],
 '92.463.518': [],
 '94.863.698': [],
 '95.925.629': [],
 '32.454.477': [],
 '31.623.653': [],
 '4.105.890': ['ANDREA_TURRI@HOTMAIL.COM'],
 '51.169.172': [],
 '7.688.947': ['jjbarbaresi@yahoo.com.ar'],
 '14.189.868': ['cdm_mag@yahoo.com.ar'],
 '8.348.214': ['EDUQAC@HOTMAIL.COM'],
 '92.962.620': [],
 '10.542.118': ['electrozarate@arnet.com.ar'],
 '32.121.243': [],
 '29.876.564': [],
 '29.167.591': [],
 '35.179.685': [],
 '29.635.296': ['sistemas@merlo.gov.ar'],
 '29.867.670': ['nhbrokers@gmail.com', 'madercid@hotmail.com'],
 '36.279.068': [],
 '40.059.127': [],
 '16.057.898': ['clauricobelli@hotmail.com'],
 '42.012.518': [],
 '14.315.405': [],
 '16.597.233': ['linardi@grupoisn.com.ar'],
 '27.730.735': [],
 '19.075.861': [],
 '28.630.018': [],
 '14.431.212': [],
 '38.108.321': [],
 '42.942.593': [],
 '26.178.260': [],
 '95.044.255': [],
 '12.216.533': [],
 '31.522.435': [],
 '95.050.314': ['facturacionbrip@gmail.com'],
 '94.043.597': ['cathe.mktg@hotmail.com'],
 '12.490.261': [],
 '22.375.137': [],
 '43.599.037': [],
 '31.485.509': [],
 '13.786.179': [],
 '22.138.341': ['florcabanas.02@gmail.com'],
 '37.934.387': ['zabielskifausto@gmail.com'],
 '40.538.862': ['rgcampos1972@gmail.com'],
 '14.792.174': ['capandegui_ruben@yahoo.com.ar'],
 '39.463.858': [],
 '94.726.194': [],
 '41.785.714': ['jia@yahoo.com'],
 '18.349.427': ['minstituto@yahoo.com.ar', 'suarezmarcos@arnet.com.ar'],
 '29.986.399': ['administracion@lahoresa.com.ar'],
 '93.293.600': [],
 '28.653.675': [],
 '13.473.568': [],
 '93.608.660': ['delfabbro_silvano@hotmail.com'],
 '11.988.891': ['ctoranzo@fibertel.com.ar'],
 '27.801.433': ['c.in.ivan@hotmail.com'],
 '94.227.438': [],
 '24.318.146': [],
 '12.102.658': [],
 '28.670.886': ['jmalvarez81@gmail.com'],
 '28.916.224': [],
 '18.043.910': ['acaserio@medicinaesencial.com.ar',
  'paola.f.postiglione@gmail.com'],
 '18.248.744': ['ep4moron@hotmail.com'],
 '24.030.436': [],
 '41.770.240': [],
 '12.187.195': ['monicavildoza2010@hotmail.com.ar'],
 '24.284.696': ['ciela_gra@yahoo.com.ar'],
 '95.023.481': ['nahuelkreser@hotmail.com'],
 '23.537.920': [],
 '28.697.515': [],
 '33.320.803': ['mlaur@hotmail.com.ar'],
 '8.479.931': [],
 '95.818.687': [],
 '39.859.758': [],
 '6.151.331': ['gabychamma@hotmail.com'],
 '14.641.084': [],
 '10.113.417': [],
 '35.766.341': [],
 '10.914.160': ['gonzalezsilva@hotmail.com'],
 '37.287.367': [],
 '13.521.234': ['rominanegri18@gmail.com'],
 '36.472.366': [],
 '20.987.290': [],
 '40.981.270': [],
 '13.335.108': [],
 '12.518.371': [],
 '5.454.238': ['gracielaprim@yahoo.com.ar'],
 '22.756.920': ['cmanzanos@pprsolution.com', 'marcefrette@hotmail.com'],
 '33.807.173': [],
 '16.203.511': [],
 '31.113.506': [],
 '28.831.810': ['comunicaciones@oca.com.ar'],
 '22.300.360': ['laurafalletta@hotmail.com'],
 '25.202.699': [],
 '34.992.817': [],
 '18.153.418': ['peronisebastian@yahoo.com'],
 '33.937.472': [],
 '32.711.456': [],
 '35.525.509': [],
 '16.069.473': [],
 '24.308.646': [],
 '11.532.442': [],
 '26.305.269': [],
 '36.105.826': [],
 '20.368.707': [],
 '16.364.432': ['dellblu_24@hotmail.com'],
 '35.523.985': [],
 '28.692.962': ['mcarole@afip.gob.ar', 'gcflobbe@ciudad.com.ar'],
 '35.925.556': [],
 '37.754.405': [],
 '25.644.051': ['jorgezar@hotmail.com'],
 '38.001.464': ['n.cagnolo@clubtalleres.com.ar'],
 '26.766.658': ['rialve@gmail.com'],
 '93.041.432': [],
 '29.713.519': [],
 '94.948.543': [],
 '11.781.412': [],
 '23.606.915': ['farmaciadoca@gmail.com', 'ortigoztam@hotmail.com'],
 '13.241.588': [],
 '16.209.880': ['alevalle27@gmail.com', 'alejandrovalle@tresvalles.com.ar'],
 '24.004.157': ['car.lac.c@hotmail.com'],
 '16.272.189': [],
 '40.380.325': [],
 '20.714.693': [],
 '29.088.597': [],
 '14.923.209': ['juangimenezz17@gmail.com'],
 '10.550.292': ['imperatore.roberto@gmail.com'],
 '31.835.237': [],
 '17.773.158': ['vo_ant@hotmail.com'],
 '12.150.630': [],
 '26.054.939': [],
 '30.466.764': ['pablo-valenzuela@outlook.com'],
 '41.154.188': [],
 '35.785.549': [],
 '22.245.380': ['ritac.moralejo@gmail.com'],
 '24.463.715': ['jcaminodali@gmail.com',
  'administracion@grilloconstrucciones.com'],
 '43.198.786': [],
 '38.936.232': [],
 '8.285.885': ['rubenchevaia@ciudad.com.ar'],
 '16.710.238': [],
 '40.985.781': [],
 '18.079.913': [],
 '41.898.501': [],
 '12.998.884': ['Paogris_79@hotmail.com'],
 '28.580.963': ['noesol_falconi@hotmail.com'],
 '29.182.598': [],
 '25.594.915': ['marialaura.logiovine@aig.com'],
 '31.601.794': [],
 '18.765.053': ['lilafernandez55@gmail.com'],
 '40.748.816': [],
 '36.004.600': [],
 '23.864.001': [],
 '12.527.136': ['mariasoledad.correia@ecco.com.ar',
  'damianlucero@ospec.org.ar',
  'gabrielabellugni@hotmail.com'],
 '11.119.703': ['carlosjofre_15@hotmail.com'],
 '38.722.555': [],
 '40.800.514': [],
 '24.160.833': ['drhode@wal-mart.com.ar'],
 '36.217.789': [],
 '36.762.992': [],
 '39.427.940': [],
 '18.249.201': [],
 '14.909.720': [],
 '4.064.259': ['hectormelito@yahoo.com.ar'],
 '28.961.050': [],
 '92.347.450': ['info@modelodebellavista.com.ar'],
 '10.588.822': ['tonelli_jorge@yahoo.com.ar'],
 '8.321.379': ['jorgedenicola@fibertel.com.ar'],
 '13.020.669': ['maclara_publi@yahoo.com.ar',
  'ezequielpereyra@hurlingham.gob.ar'],
 '10.828.195': ['victoriavaldez1@hotmail.com'],
 '20.734.815': [],
 '41.332.686': [],
 '11.726.629': ['robarcio@gmail.com'],
 '30.899.354': ['dantevc@mail.com.ar'],
 '43.184.139': [],
 '95.910.871': ['admin@akribis.com.ar'],
 '37.389.240': [],
 '17.002.258': ['gabriel_nexo@hotmail.com'],
 '14.510.840': ['cef10santafe@hotmail.com.ar', 'karlosmartino@hotmail.com'],
 '28.116.884': ['nataliamaldonado1980@hotmail.com'],
 '32.111.088': [],
 '18.016.489': ['administracion@alisergastronomia.com.ar'],
 '93.705.431': [],
 '21.584.500': ['ep4moron@hotmail.com', 'trinajstic@hotmail.com'],
 '33.831.251': [],
 '22.222.973': [],
 '95.793.498': [],
 '26.443.434': ['jaqui_turquesa@hotmail.com',
  'residenciapediatriavelez@gmail.com'],
 '29.384.362': []}

# 5) Back to Dataframe

Volvemos a trabajar con Dataframes. Esta vez, una vez que tenemos el diccionario completo sin duplicados, lo pasamos a un dataframe para adecuar al export.

In [69]:
email_dataframe = pd.DataFrame.from_dict(dict_emails_clean, orient='index')

In [70]:
email_dataframe.head()

               0     1     2
3.767.560   None  None  None
4.261.408   None  None  None
38.266.384  None  None  None
94.627.518  None  None  None
39.531.374  None  None  None

Vamos a stackear las filas para tener algo multindex:

In [71]:
email_dataframe = email_dataframe.stack().to_frame()

In [72]:
email_dataframe

                                                    0
18.339.498 0                        jhlkjh@speedy.com
           1             mariano.solferino@bgh.com.ar
7.651.073  0                 guillermoturci@gmail.com
25.859.149 0              perez.mariela77@hotmail.com
16.511.461 0                      ely-wil@hotmail.com
...                                               ...
18.016.489 0  administracion@alisergastronomia.com.ar
21.584.500 0                     ep4moron@hotmail.com
           1                   trinajstic@hotmail.com
26.443.434 0               jaqui_turquesa@hotmail.com
           1       residenciapediatriavelez@gmail.com

[205 rows x 1 columns]

Ahora tenemos todos los mails sumados y stackeados verticalmente. Vamos a resetear el index, y ordenar las columnas

In [73]:
email_dataframe = email_dataframe.reset_index().drop(columns=['level_1'])

In [74]:
email_dataframe = email_dataframe.rename(columns={"level_0": "DNI", 0: "Dato"})

In [75]:
email_dataframe

            DNI                                     Dato
0    18.339.498                        jhlkjh@speedy.com
1    18.339.498             mariano.solferino@bgh.com.ar
2     7.651.073                 guillermoturci@gmail.com
3    25.859.149              perez.mariela77@hotmail.com
4    16.511.461                      ely-wil@hotmail.com
..          ...                                      ...
200  18.016.489  administracion@alisergastronomia.com.ar
201  21.584.500                     ep4moron@hotmail.com
202  21.584.500                   trinajstic@hotmail.com
203  26.443.434               jaqui_turquesa@hotmail.com
204  26.443.434       residenciapediatriavelez@gmail.com

[205 rows x 2 columns]

# 6) Concatenación con dataframe original

Vamos a unir __email_dataframe__ con el dataframe original para incluir los campos __Tipo y Cuit/Cuil__

In [76]:
df_concat = email_dataframe.join(df_reduced.set_index('DNI'), on='DNI')

In [77]:
df_concat = df_concat.drop(columns=['Tel. de contacto e email','Email'])

In [78]:
df_concat

,DNI,Dato,Tipo,Nombre,Cuit/Cuil
0,18.339.498,jhlkjh@speedy.com,DNI-EB,Aravena Sergio Vivian (Cayunian),20-18339498-4
0,18.339.498,jhlkjh@speedy.com,DNI-EB,Aravena Sergio Vivian (Cayunian),20-18339498-4
0,18.339.498,jhlkjh@speedy.com,DNI-EB,Aravena Sergio Vivian (Cayunian),20-18339498-4
0,18.339.498,jhlkjh@speedy.com,DNI-EB,Aravena Sergio Vivian (Cayunian),20-18339498-4
0,18.339.498,jhlkjh@speedy.com,DNI-EB,Aravena Sergio Vivian (Cayunian),20-18339498-4
...,...,...,...,...,...
204,26.443.434,residenciapediatriavelez@gmail.com,DNI-EB,Corvalan Jaquelina Noemi,27-26443434-9
204,26.443.434,residenciapediatriavelez@gmail.com,DNI-EB,Corvalan Jaquelina Noemi,27-26443434-9
204,26.443.434,residenciapediatriavelez@gmail.com,DNI-EB,Corvalan Jaquelina Noemi,27-26443434-9
204,26.443.434,residenciapediatriavelez@gmail.com,DNI-EB,Corvalan Jaquelina Noemi,27-26443434-9
204,26.443.434,residenciapediatriavelez@gmail.com,DNI-EB,Corvalan Jaquelina Noemi,27-26443434-9

Por el tipo de unión realizada (left por default), tenemos varios duplicados. Por lo tanto:

In [79]:
df_concat = df_concat.drop_duplicates()

In [80]:
df_concat

,DNI,Dato,Tipo,Nombre,Cuit/Cuil
0,18.339.498,jhlkjh@speedy.com,DNI-EB,Aravena Sergio Vivian (Cayunian),20-18339498-4
1,18.339.498,mariano.solferino@bgh.com.ar,DNI-EB,Aravena Sergio Vivian (Cayunian),20-18339498-4
2,7.651.073,guillermoturci@gmail.com,DNI-EA,Turci Guillermo Marcelo (Tappa),20-07651073-4
3,25.859.149,perez.mariela77@hotmail.com,DNI-EB,Perez Mariela Elizabeth,27-25859149-1
4,16.511.461,ely-wil@hotmail.com,DNI-EA,Wilberger Carmen Elisa (Sciume),27-16511461-8
...,...,...,...,...,...
200,18.016.489,administracion@alisergastronomia.com.ar,DNI-EA,Banegas Cecilia Mabel,27-18016489-3
201,21.584.500,ep4moron@hotmail.com,DNI-EB,Trinajstic Angel Francisco,20-21584500-2
202,21.584.500,trinajstic@hotmail.com,DNI-EB,Trinajstic Angel Francisco,20-21584500-2
203,26.443.434,jaqui_turquesa@hotmail.com,DNI-EB,Corvalan Jaquelina Noemi,27-26443434-9
204,26.443.434,residenciapediatriavelez@gmail.com,DNI-EB,Corvalan Jaquelina Noemi,27-26443434-9

# 7) Eliminación de duplicados

Vamos a eliminar los duplicados que tengan dos tipos de DNI juntos.

In [81]:
df_concat = df_concat[~(df_concat.index.duplicated('first'))]

In [82]:
df_concat

,DNI,Dato,Tipo,Nombre,Cuit/Cuil
0,18.339.498,jhlkjh@speedy.com,DNI-EB,Aravena Sergio Vivian (Cayunian),20-18339498-4
1,18.339.498,mariano.solferino@bgh.com.ar,DNI-EB,Aravena Sergio Vivian (Cayunian),20-18339498-4
2,7.651.073,guillermoturci@gmail.com,DNI-EA,Turci Guillermo Marcelo (Tappa),20-07651073-4
3,25.859.149,perez.mariela77@hotmail.com,DNI-EB,Perez Mariela Elizabeth,27-25859149-1
4,16.511.461,ely-wil@hotmail.com,DNI-EA,Wilberger Carmen Elisa (Sciume),27-16511461-8
...,...,...,...,...,...
200,18.016.489,administracion@alisergastronomia.com.ar,DNI-EA,Banegas Cecilia Mabel,27-18016489-3
201,21.584.500,ep4moron@hotmail.com,DNI-EB,Trinajstic Angel Francisco,20-21584500-2
202,21.584.500,trinajstic@hotmail.com,DNI-EB,Trinajstic Angel Francisco,20-21584500-2
203,26.443.434,jaqui_turquesa@hotmail.com,DNI-EB,Corvalan Jaquelina Noemi,27-26443434-9
204,26.443.434,residenciapediatriavelez@gmail.com,DNI-EB,Corvalan Jaquelina Noemi,27-26443434-9

# 8) Concatenación con .csv enviado

Vamos a concatenar nuestro dataframe con el dataframe enviado para enriquecer. Para esto, vamos a hacer una limpieza inicial de cómo se enviaron esos datos. Finalmente, se uniran ambos dataframes por __DNI__.

## 8.1) Dataset: InfDig.csv

Vamos a analizar y limpiar el dataset enviado a Informes Digitales para el enriquecimiento:

In [83]:
df_infdig = pd.read_excel('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Informes Digitales/Datasets/Datos Enviados/Informes_Digitales_0127.xlsx')

In [84]:
df_infdig.head()

             IDMOROSO       DNI             IDCLIENTE
0  RMS376416100131006  23470018  AMEX_PARM
1  RMS376416830222000  14572108  AMEX_PARM
2  RMS376418146342001  10828195  AMEX_PARM
3  RMS376418379981004  23453906  AMEX_PARM
4  RMS376418471547000  29735377  AMEX_PARM

Vamos a renombrar nuestro DATO_A_ENVIAR por DNI, que es lo que vamos a extraer finalmente de esta columna

In [85]:
df_infdig = df_infdig.rename(columns = {'DOCUMENTO':'IDMOROSO'})

Limpiamos el dataframe __df_infdig__, ya que dentro de DATO_A_ENVIAR tenemos 9 tipos de casos diferentes de datos:

- DNI 12345678
- DNI12345678
- DNIE1234678
- LC  1234567
- LE  1234567
- CUIT00123456780
- 00123456780 --> Es un CUIT.
- 00 12345678 0 --> Es un CUIT.
- DNI 00123456780 --> Dice DNI pero es un CUIT de una persona __jurídica__ (TO DO)

Para eso definimos 3 funciones:

- __Standard DNI__: Estandariza los DNI para 7 de los casos. Esta función debe ejecutarse en primer lugar.
- __DNI Index__: Estandariza para los casos remanentes de Standard DNI.
- __DNI Zero__: Elimina los ceros iniciales de ciertos CUITs para que coincidan con los DNI.

In [86]:
def standard_dni (string_dni):
    """DNI separation by each case.
    """
    
    if 'DNI ' in string_dni:
        dni = string_dni.split('DNI ')[1]
        
    elif 'DNIE' in string_dni:
        dni = string_dni.split('DNIE')[1]
    
    elif 'DNI' in string_dni:
        dni = string_dni.split('DNI')[1]
    
    elif 'LC  ' in string_dni:
        dni = string_dni.split('LC  ')[1]
    
    elif 'LE  ' in string_dni:
        dni = string_dni.split('LE  ')[1]
    
    elif 'CUIT' in string_dni:
        cuit = string_dni.split('CUIT')[1]
        dni = cuit[2:-1]
        
    else:
        dni = string_dni
        
    return dni

In [87]:
def dni_index (string_dni):
    
    if ' ' in string_dni:
        dni = string_dni [2:-1]
    
    elif len(string_dni) > 9:
        dni = string_dni [2:-1]
    
    else:
        dni = string_dni
    
    return dni

In [88]:
def dni_zero (string_dni):
    
    if string_dni.startswith('0'):
        dni = string_dni [1:]

    else:
        dni = string_dni
    
    return dni

En primer lugar, trimmeamos los espacios que sobran:

In [89]:
df_infdig['DNI'] = df_infdig['DNI'].astype(str)

In [90]:
#df_infdig['DNI'] = [(df_infdig['IDMOROSO'][i].strip()) for i in range (df_infdig['IDMOROSO'].count())]
df_infdig['DNI'] = [(df_infdig['DNI'][i].strip()) for i in range (df_infdig['DNI'].count())]

Se implementan estas tres funciones:

In [91]:
df_infdig['DNI'] = [standard_dni(df_infdig['DNI'][i]) for i in range (df_infdig['DNI'].count())]

In [92]:
df_infdig['DNI'] = [dni_index(df_infdig['DNI'][i]) for i in range (df_infdig['DNI'].count())]

In [93]:
df_infdig['DNI'] = [dni_zero(df_infdig['DNI'][i]) for i in range (df_infdig['DNI'].count())]

In [94]:
df_infdig

               IDMOROSO       DNI             IDCLIENTE
0    RMS376416100131006  23470018  AMEX_PARM
1    RMS376416830222000  14572108  AMEX_PARM
2    RMS376418146342001  10828195  AMEX_PARM
3    RMS376418379981004  23453906  AMEX_PARM
4    RMS376418471547000  29735377  AMEX_PARM
..                  ...       ...                   ...
466        DNI 23944899  23944899          FRANCES_2012
467        DNI 40985781  40985781          FRANCES_2012
468        DNI 17148042  17148042          FRANCES_2012
469        DNI 14909720  14909720          FRANCES_2012
470        DNI 40289577  40289577          FRANCES_2012

[471 rows x 3 columns]

# 8) Unión final de Dataframes

Los números de DNI de nuestro dataframe limpio incluyen puntos como separadores. Trataremos de eliminarlos antes de hacer el join:

In [95]:
df_concat['DNI'] = [(df_concat['DNI'][i].replace('.', '')) for i in range (df_concat['DNI'].count())]

<ipython-input-95-8374d3194051>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_concat['DNI'] = [(df_concat['DNI'][i].replace('.', '')) for i in range (df_concat['DNI'].count())]

In [96]:
df_concat.head()

,DNI,Dato,Tipo,Nombre,Cuit/Cuil
0,18339498,jhlkjh@speedy.com,DNI-EB,Aravena Sergio Vivian (Cayunian),20-18339498-4
1,18339498,mariano.solferino@bgh.com.ar,DNI-EB,Aravena Sergio Vivian (Cayunian),20-18339498-4
2,7651073,guillermoturci@gmail.com,DNI-EA,Turci Guillermo Marcelo (Tappa),20-07651073-4
3,25859149,perez.mariela77@hotmail.com,DNI-EB,Perez Mariela Elizabeth,27-25859149-1
4,16511461,ely-wil@hotmail.com,DNI-EA,Wilberger Carmen Elisa (Sciume),27-16511461-8

In [97]:
df_concat.shape

(205, 5)

## 8.1) Join

In [98]:
df_clean = pd.merge(df_concat,df_infdig, on='DNI', how='inner')

In [99]:
df_clean

,DNI,Dato,Tipo,Nombre,Cuit/Cuil,IDMOROSO,IDCLIENTE
0,18339498,jhlkjh@speedy.com,DNI-EB,Aravena Sergio Vivian (Cayunian),20-18339498-4,RMS376711151341003,AMEX_ALHR
1,18339498,mariano.solferino@bgh.com.ar,DNI-EB,Aravena Sergio Vivian (Cayunian),20-18339498-4,RMS376711151341003,AMEX_ALHR
2,7651073,guillermoturci@gmail.com,DNI-EA,Turci Guillermo Marcelo (Tappa),20-07651073-4,RMS376405651404003,AMEX_PARM
3,7651073,guillermoturci@gmail.com,DNI-EA,Turci Guillermo Marcelo (Tappa),20-07651073-4,RMS376711204441008,AMEX_ALHR
4,25859149,perez.mariela77@hotmail.com,DNI-EB,Perez Mariela Elizabeth,27-25859149-1,RMS376686492573003,AMEX_ALHR
...,...,...,...,...,...,...,...
211,18016489,administracion@alisergastronomia.com.ar,DNI-EA,Banegas Cecilia Mabel,27-18016489-3,DNI 18016489,FRANCES_2012
212,21584500,ep4moron@hotmail.com,DNI-EB,Trinajstic Angel Francisco,20-21584500-2,RMS379977059031007,AMEX_TNLM
213,21584500,trinajstic@hotmail.com,DNI-EB,Trinajstic Angel Francisco,20-21584500-2,RMS379977059031007,AMEX_TNLM
214,26443434,jaqui_turquesa@hotmail.com,DNI-EB,Corvalan Jaquelina Noemi,27-26443434-9,RMS379977772012003,AMEX_QRNM
215,26443434,residenciapediatriavelez@gmail.com,DNI-EB,Corvalan Jaquelina Noemi,27-26443434-9,RMS379977772012003,AMEX_QRNM

__ISSUE__: tengo el mismo DNI para más de un IDMoroso. Por eso en el join tengo un valor mayor de registros. A priori, no parece estar mal porque estoy cargando los mail por DNI, por IDMoroso.

Dropeo y reordenamos las columnas

In [100]:
#df_clean = df_clean.drop(columns=['TOTALDEUDA'])

In [101]:
df_clean

,DNI,Dato,Tipo,Nombre,Cuit/Cuil,IDMOROSO,IDCLIENTE
0,18339498,jhlkjh@speedy.com,DNI-EB,Aravena Sergio Vivian (Cayunian),20-18339498-4,RMS376711151341003,AMEX_ALHR
1,18339498,mariano.solferino@bgh.com.ar,DNI-EB,Aravena Sergio Vivian (Cayunian),20-18339498-4,RMS376711151341003,AMEX_ALHR
2,7651073,guillermoturci@gmail.com,DNI-EA,Turci Guillermo Marcelo (Tappa),20-07651073-4,RMS376405651404003,AMEX_PARM
3,7651073,guillermoturci@gmail.com,DNI-EA,Turci Guillermo Marcelo (Tappa),20-07651073-4,RMS376711204441008,AMEX_ALHR
4,25859149,perez.mariela77@hotmail.com,DNI-EB,Perez Mariela Elizabeth,27-25859149-1,RMS376686492573003,AMEX_ALHR
...,...,...,...,...,...,...,...
211,18016489,administracion@alisergastronomia.com.ar,DNI-EA,Banegas Cecilia Mabel,27-18016489-3,DNI 18016489,FRANCES_2012
212,21584500,ep4moron@hotmail.com,DNI-EB,Trinajstic Angel Francisco,20-21584500-2,RMS379977059031007,AMEX_TNLM
213,21584500,trinajstic@hotmail.com,DNI-EB,Trinajstic Angel Francisco,20-21584500-2,RMS379977059031007,AMEX_TNLM
214,26443434,jaqui_turquesa@hotmail.com,DNI-EB,Corvalan Jaquelina Noemi,27-26443434-9,RMS379977772012003,AMEX_QRNM
215,26443434,residenciapediatriavelez@gmail.com,DNI-EB,Corvalan Jaquelina Noemi,27-26443434-9,RMS379977772012003,AMEX_QRNM

## 8.2) Tipo

Renombramos la columna "Tipo" a "TIPO_DOC" para no generar conflictos en la tabla

In [102]:
df_clean = df_clean.rename(columns = {'Tipo':'TIPO_DOC'})

In [103]:
df_clean.head()

,DNI,Dato,TIPO_DOC,Nombre,Cuit/Cuil,IDMOROSO,IDCLIENTE
0,18339498,jhlkjh@speedy.com,DNI-EB,Aravena Sergio Vivian (Cayunian),20-18339498-4,RMS376711151341003,AMEX_ALHR
1,18339498,mariano.solferino@bgh.com.ar,DNI-EB,Aravena Sergio Vivian (Cayunian),20-18339498-4,RMS376711151341003,AMEX_ALHR
2,7651073,guillermoturci@gmail.com,DNI-EA,Turci Guillermo Marcelo (Tappa),20-07651073-4,RMS376405651404003,AMEX_PARM
3,7651073,guillermoturci@gmail.com,DNI-EA,Turci Guillermo Marcelo (Tappa),20-07651073-4,RMS376711204441008,AMEX_ALHR
4,25859149,perez.mariela77@hotmail.com,DNI-EB,Perez Mariela Elizabeth,27-25859149-1,RMS376686492573003,AMEX_ALHR

# 9) Columna Proveedor

Agregamos la columna PROVEEDOR_DATO, con el código correspondiente.

Informes Digitales = IX

In [104]:
cod_infdig = 'IX'

In [105]:
df_clean = df_clean.assign(PROVEEDOR_DATO=cod_infdig)

In [106]:
df_clean.head()

,DNI,Dato,TIPO_DOC,Nombre,Cuit/Cuil,IDMOROSO,IDCLIENTE,PROVEEDOR_DATO
0,18339498,jhlkjh@speedy.com,DNI-EB,Aravena Sergio Vivian (Cayunian),20-18339498-4,RMS376711151341003,AMEX_ALHR,IX
1,18339498,mariano.solferino@bgh.com.ar,DNI-EB,Aravena Sergio Vivian (Cayunian),20-18339498-4,RMS376711151341003,AMEX_ALHR,IX
2,7651073,guillermoturci@gmail.com,DNI-EA,Turci Guillermo Marcelo (Tappa),20-07651073-4,RMS376405651404003,AMEX_PARM,IX
3,7651073,guillermoturci@gmail.com,DNI-EA,Turci Guillermo Marcelo (Tappa),20-07651073-4,RMS376711204441008,AMEX_ALHR,IX
4,25859149,perez.mariela77@hotmail.com,DNI-EB,Perez Mariela Elizabeth,27-25859149-1,RMS376686492573003,AMEX_ALHR,IX

# 10) Columna Tipo

Agregamos la columna TIPO, con el código correspondiente

In [107]:
tipo_dato = 'EMAIL'

In [108]:
df_clean = df_clean.assign(TIPO=tipo_dato)

In [109]:
df_clean.head()

,DNI,Dato,TIPO_DOC,Nombre,Cuit/Cuil,IDMOROSO,IDCLIENTE,PROVEEDOR_DATO,TIPO
0,18339498,jhlkjh@speedy.com,DNI-EB,Aravena Sergio Vivian (Cayunian),20-18339498-4,RMS376711151341003,AMEX_ALHR,IX,EMAIL
1,18339498,mariano.solferino@bgh.com.ar,DNI-EB,Aravena Sergio Vivian (Cayunian),20-18339498-4,RMS376711151341003,AMEX_ALHR,IX,EMAIL
2,7651073,guillermoturci@gmail.com,DNI-EA,Turci Guillermo Marcelo (Tappa),20-07651073-4,RMS376405651404003,AMEX_PARM,IX,EMAIL
3,7651073,guillermoturci@gmail.com,DNI-EA,Turci Guillermo Marcelo (Tappa),20-07651073-4,RMS376711204441008,AMEX_ALHR,IX,EMAIL
4,25859149,perez.mariela77@hotmail.com,DNI-EB,Perez Mariela Elizabeth,27-25859149-1,RMS376686492573003,AMEX_ALHR,IX,EMAIL

# 11) Columna Subtipo

Agregamos la columna SUBTIPO, que va a contener información sobre el tipo de mail que se encuentra en el campo Dato.

- Personal: @yahoo, @gmail, @hotmail, @outlook, @live.
- Laboral: el resto.

Verificamos que la string contenga esos casos:

In [110]:
df_clean.loc[(df_clean['Dato'].str.contains('@yahoo', na=False)) | 
             (df_clean['Dato'].str.contains('@gmail', na=False)) |
             (df_clean['Dato'].str.contains('@outlook', na=False)) |
             (df_clean['Dato'].str.contains('@hotmail', na=False)) |
             (df_clean['Dato'].str.contains('@live', na=False)) , 'SUBTIPO'] = 'PERSONAL'

Para los mails laborales, evaluamos los casos contrarios:

In [111]:
df_clean.loc[~(df_clean['Dato'].str.contains('@yahoo', na=False)) & 
             ~(df_clean['Dato'].str.contains('@gmail', na=False)) &
             ~(df_clean['Dato'].str.contains('@outlook', na=False)) &
             ~(df_clean['Dato'].str.contains('@hotmail', na=False)) &
             ~(df_clean['Dato'].str.contains('@live', na=False)) , 'SUBTIPO'] = 'LABORAL'

In [112]:
df_clean.head()

,DNI,Dato,TIPO_DOC,Nombre,Cuit/Cuil,IDMOROSO,IDCLIENTE,PROVEEDOR_DATO,TIPO,SUBTIPO
0,18339498,jhlkjh@speedy.com,DNI-EB,Aravena Sergio Vivian (Cayunian),20-18339498-4,RMS376711151341003,AMEX_ALHR,IX,EMAIL,LABORAL
1,18339498,mariano.solferino@bgh.com.ar,DNI-EB,Aravena Sergio Vivian (Cayunian),20-18339498-4,RMS376711151341003,AMEX_ALHR,IX,EMAIL,LABORAL
2,7651073,guillermoturci@gmail.com,DNI-EA,Turci Guillermo Marcelo (Tappa),20-07651073-4,RMS376405651404003,AMEX_PARM,IX,EMAIL,PERSONAL
3,7651073,guillermoturci@gmail.com,DNI-EA,Turci Guillermo Marcelo (Tappa),20-07651073-4,RMS376711204441008,AMEX_ALHR,IX,EMAIL,PERSONAL
4,25859149,perez.mariela77@hotmail.com,DNI-EB,Perez Mariela Elizabeth,27-25859149-1,RMS376686492573003,AMEX_ALHR,IX,EMAIL,PERSONAL

# 12) Propietario del Dato

Para analizar el campo "Propietario del Dato" se debe determinar si el mail es propio o ajeno. Para esto, se trabaja con **Distancias de Levenshtein**

Definimos nuestra función que calcula las distancias de Levenshtein

In [113]:
def lev_distance(str1, str2):
    d=dict()
    for i in range(len(str1)+1):
        d[i]=dict()
        d[i][0]=i
    for i in range(len(str2)+1):
        d[0][i] = i
    for i in range(1, len(str1)+1):
        for j in range(1, len(str2)+1):
            d[i][j] = min(d[i][j-1]+1, d[i-1][j]+1, d[i-1][j-1]+(not str1[i-1] == str2[j-1]))
    
    return d[len(str1)][len(str2)]

Definimos una función para expresarla en porcentajes. 100% indica un peor matcheo, teniendo todos los caracteres diferentes entre strings

In [114]:
def lev_dist_porc (string1,string2):
    
    if len (string1)> len(string2):
        lev_porc = (lev_distance (string1,string2)/len(string1))*100
    else:
        lev_porc = (lev_distance (string1,string2)/len(string2))*100
        
    return lev_porc

En primer lugar, generamos una columna con los valores de los mails trimmeados; es decir, nos quedamos solamente con lo que hay antes del @

In [115]:
df_clean['mail_trimmed'] = [(df_clean.loc[i,'Dato'].split('@')[0]) for i in range (df_clean['Dato'].count())]

Ahora generamos una columna con los valores de las distancias. Adicionalmente, eliminamos los espacios en blanco y pasamos a minúsculas:

In [116]:
df_clean ['lev_dist'] = df_clean.apply(lambda x: lev_distance(x['Nombre'].replace(' ','').lower(),  x['mail_trimmed']), axis=1)

Agregamos una columna con los valores porcentuales

In [117]:
df_clean ['lev_dist_porc'] = df_clean.apply(lambda x: lev_dist_porc(x['Nombre'].replace(' ','').lower(),  x['mail_trimmed']), axis=1)

Podemos ordenar por valor porcentual descendentemente, y establecer un umbral en un 70/80% de diferencia.

In [118]:
df_clean.head()

,DNI,Dato,TIPO_DOC,Nombre,Cuit/Cuil,IDMOROSO,IDCLIENTE,PROVEEDOR_DATO,TIPO,SUBTIPO,mail_trimmed,lev_dist,lev_dist_porc
0,18339498,jhlkjh@speedy.com,DNI-EB,Aravena Sergio Vivian (Cayunian),20-18339498-4,RMS376711151341003,AMEX_ALHR,IX,EMAIL,LABORAL,jhlkjh,29,100.000000
1,18339498,mariano.solferino@bgh.com.ar,DNI-EB,Aravena Sergio Vivian (Cayunian),20-18339498-4,RMS376711151341003,AMEX_ALHR,IX,EMAIL,LABORAL,mariano.solferino,24,82.758621
2,7651073,guillermoturci@gmail.com,DNI-EA,Turci Guillermo Marcelo (Tappa),20-07651073-4,RMS376405651404003,AMEX_PARM,IX,EMAIL,PERSONAL,guillermoturci,17,60.714286
3,7651073,guillermoturci@gmail.com,DNI-EA,Turci Guillermo Marcelo (Tappa),20-07651073-4,RMS376711204441008,AMEX_ALHR,IX,EMAIL,PERSONAL,guillermoturci,17,60.714286
4,25859149,perez.mariela77@hotmail.com,DNI-EB,Perez Mariela Elizabeth,27-25859149-1,RMS376686492573003,AMEX_ALHR,IX,EMAIL,PERSONAL,perez.mariela77,10,47.619048

Elegimos un umbral de manera arbitraria para definir propiedad del dato. En este caso, a partir de observar la muestra, se elige un umbral del 74%. Desde ese valor inclusive hacia abajo, los mails se consideran propios. Desde ese umbral hacia arriba, se consideran ajenos.

In [119]:
df_clean.loc[(df_clean['lev_dist_porc'] <75) , 'PROPIETARIO_DATO'] = 'Propio'

In [120]:
df_clean.loc[(df_clean['lev_dist_porc'] >=75 ) , 'PROPIETARIO_DATO'] = 'Ajeno'

In [121]:
df_clean.head()

,DNI,Dato,TIPO_DOC,Nombre,Cuit/Cuil,IDMOROSO,IDCLIENTE,PROVEEDOR_DATO,TIPO,SUBTIPO,mail_trimmed,lev_dist,lev_dist_porc,PROPIETARIO_DATO
0,18339498,jhlkjh@speedy.com,DNI-EB,Aravena Sergio Vivian (Cayunian),20-18339498-4,RMS376711151341003,AMEX_ALHR,IX,EMAIL,LABORAL,jhlkjh,29,100.000000,Ajeno
1,18339498,mariano.solferino@bgh.com.ar,DNI-EB,Aravena Sergio Vivian (Cayunian),20-18339498-4,RMS376711151341003,AMEX_ALHR,IX,EMAIL,LABORAL,mariano.solferino,24,82.758621,Ajeno
2,7651073,guillermoturci@gmail.com,DNI-EA,Turci Guillermo Marcelo (Tappa),20-07651073-4,RMS376405651404003,AMEX_PARM,IX,EMAIL,PERSONAL,guillermoturci,17,60.714286,Propio
3,7651073,guillermoturci@gmail.com,DNI-EA,Turci Guillermo Marcelo (Tappa),20-07651073-4,RMS376711204441008,AMEX_ALHR,IX,EMAIL,PERSONAL,guillermoturci,17,60.714286,Propio
4,25859149,perez.mariela77@hotmail.com,DNI-EB,Perez Mariela Elizabeth,27-25859149-1,RMS376686492573003,AMEX_ALHR,IX,EMAIL,PERSONAL,perez.mariela77,10,47.619048,Propio

Dropeamos las columnas que no nos sirven

In [122]:
df_clean = df_clean.drop(columns=['Nombre','mail_trimmed','lev_dist','lev_dist_porc'])

# 13) Score

El campo **Score** se construye en función de los datos obtenidos:

- Nivel 4: Dato que otorga la propia persona.
- Nivel 3: Dato que otorgan los clientes (los bancos).
- Nivel 2: Dato que otorga un proveedor externo (Informes Digitales en este caso), con subtipo "Personal".
- Nivel 1: Dato que otorga un proveedor externo, pero tiene como subtipo "Laboral".

In [123]:
# Nivel 1: Laboral, proveedor externo.

df_clean.loc[(df_clean['SUBTIPO'] == 'LABORAL') , 'SCORE_DATO'] = 1

In [124]:
# Nivel 2: Personal, proveedor externo.

df_clean.loc[(df_clean['SUBTIPO'] == 'PERSONAL') , 'SCORE_DATO'] = 2

In [125]:
df_clean.head()

,DNI,Dato,TIPO_DOC,Cuit/Cuil,IDMOROSO,IDCLIENTE,PROVEEDOR_DATO,TIPO,SUBTIPO,PROPIETARIO_DATO,SCORE_DATO
0,18339498,jhlkjh@speedy.com,DNI-EB,20-18339498-4,RMS376711151341003,AMEX_ALHR,IX,EMAIL,LABORAL,Ajeno,1.0
1,18339498,mariano.solferino@bgh.com.ar,DNI-EB,20-18339498-4,RMS376711151341003,AMEX_ALHR,IX,EMAIL,LABORAL,Ajeno,1.0
2,7651073,guillermoturci@gmail.com,DNI-EA,20-07651073-4,RMS376405651404003,AMEX_PARM,IX,EMAIL,PERSONAL,Propio,2.0
3,7651073,guillermoturci@gmail.com,DNI-EA,20-07651073-4,RMS376711204441008,AMEX_ALHR,IX,EMAIL,PERSONAL,Propio,2.0
4,25859149,perez.mariela77@hotmail.com,DNI-EB,27-25859149-1,RMS376686492573003,AMEX_ALHR,IX,EMAIL,PERSONAL,Propio,2.0

# 14) Fecha

Para el campo FECHA_INGRESO_DATO, usamos la fecha en la que se hace la inserción de los datos:

In [126]:
fecha_ingreso = pd.to_datetime('today')

In [127]:
df_clean = df_clean.assign(FECHA_INGRESO_DATO=fecha_ingreso)

In [128]:
df_clean.head()

,DNI,Dato,TIPO_DOC,Cuit/Cuil,IDMOROSO,IDCLIENTE,PROVEEDOR_DATO,TIPO,SUBTIPO,PROPIETARIO_DATO,SCORE_DATO,FECHA_INGRESO_DATO
0,18339498,jhlkjh@speedy.com,DNI-EB,20-18339498-4,RMS376711151341003,AMEX_ALHR,IX,EMAIL,LABORAL,Ajeno,1.0,2021-02-01 12:33:06.744421
1,18339498,mariano.solferino@bgh.com.ar,DNI-EB,20-18339498-4,RMS376711151341003,AMEX_ALHR,IX,EMAIL,LABORAL,Ajeno,1.0,2021-02-01 12:33:06.744421
2,7651073,guillermoturci@gmail.com,DNI-EA,20-07651073-4,RMS376405651404003,AMEX_PARM,IX,EMAIL,PERSONAL,Propio,2.0,2021-02-01 12:33:06.744421
3,7651073,guillermoturci@gmail.com,DNI-EA,20-07651073-4,RMS376711204441008,AMEX_ALHR,IX,EMAIL,PERSONAL,Propio,2.0,2021-02-01 12:33:06.744421
4,25859149,perez.mariela77@hotmail.com,DNI-EB,27-25859149-1,RMS376686492573003,AMEX_ALHR,IX,EMAIL,PERSONAL,Propio,2.0,2021-02-01 12:33:06.744421

# 15) Campos adicionales

Creamos las columnas VERIFICADO, FECHA_VERIFICACION, OPERADOR_VERIFICACION, que en principio van en nulls.

In [129]:
df_clean['VERIFICADO'] = 0

In [130]:
df_clean['FECHA_VERIFICACION'] = np.nan

In [131]:
df_clean['OPERADOR_VERIFICACION'] = np.nan

# 16) Export

Reordenamos las columnas, renombramos algunas y exportamos

In [132]:
df_clean = df_clean.drop_duplicates()

In [133]:
df_clean = df_clean.rename(columns = {'Dato':'DATO','Cuit/Cuil': 'CUIT_CUIL','DNI':'NRO_DOC'})

Dropeamos la columna **IDCLIENTE**

In [134]:
df_export = df_clean.drop(columns=['IDCLIENTE'])

In [135]:
df_export = df_export[['IDMOROSO', 'TIPO_DOC','NRO_DOC','CUIT_CUIL','TIPO','SUBTIPO','DATO','PROPIETARIO_DATO','PROVEEDOR_DATO','FECHA_INGRESO_DATO','VERIFICADO','FECHA_VERIFICACION','OPERADOR_VERIFICACION','SCORE_DATO']]

In [136]:
df_export.head()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
0,RMS376711151341003,DNI-EB,18339498,20-18339498-4,EMAIL,LABORAL,jhlkjh@speedy.com,Ajeno,IX,2021-02-01 12:33:06.744421,0,NaN,NaN,1.0
1,RMS376711151341003,DNI-EB,18339498,20-18339498-4,EMAIL,LABORAL,mariano.solferino@bgh.com.ar,Ajeno,IX,2021-02-01 12:33:06.744421,0,NaN,NaN,1.0
2,RMS376405651404003,DNI-EA,7651073,20-07651073-4,EMAIL,PERSONAL,guillermoturci@gmail.com,Propio,IX,2021-02-01 12:33:06.744421,0,NaN,NaN,2.0
3,RMS376711204441008,DNI-EA,7651073,20-07651073-4,EMAIL,PERSONAL,guillermoturci@gmail.com,Propio,IX,2021-02-01 12:33:06.744421,0,NaN,NaN,2.0
4,RMS376686492573003,DNI-EB,25859149,27-25859149-1,EMAIL,PERSONAL,perez.mariela77@hotmail.com,Propio,IX,2021-02-01 12:33:06.744421,0,NaN,NaN,2.0

In [137]:
df_export.shape

(207, 14)

In [138]:
duplicates_subset = df_export[df_export.duplicated(subset=['IDMOROSO','DATO','PROVEEDOR_DATO'],keep=False)]

In [139]:
duplicates_subset

Empty DataFrame
Columns: [IDMOROSO, TIPO_DOC, NRO_DOC, CUIT_CUIL, TIPO, SUBTIPO, DATO, PROPIETARIO_DATO, PROVEEDOR_DATO, FECHA_INGRESO_DATO, VERIFICADO, FECHA_VERIFICACION, OPERADOR_VERIFICACION, SCORE_DATO]
Index: []

## 16.1) Export de dataframe + IDCLIENTE para análisis

In [140]:
df_clean.to_excel('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Informes Digitales/Exports/Mails para analisis/Inf_dig_mails_2801.xlsx', index_label='ID')
df_clean.to_csv('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Informes Digitales/Exports/Mails para analisis/Inf_dig_mails_2801.csv',index_label='ID')

## 16.2) Insert a tabla DAM_CONTACTABILIDAD:

In [141]:
df_export.to_excel('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Informes Digitales/Exports/DAM_CONTACTABILIDAD/InfDig_DAM_CONTACTABILIDAD_mails_2801.xlsx', index=False)
df_export.to_csv('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Informes Digitales/Exports/DAM_CONTACTABILIDAD/InfDig_DAM_CONTACTABILIDAD_mails_2801.csv',index=False)