In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Insiders/Datasets/Datos duplicados/Insiders_telefonos_1803_duplicados.csv')

In [3]:
df.head()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
0,DNI 4171534,DNI,4171534,27041715346,TEL.FIJO,PERSONAL,1142089570,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
1,DNI 4171534,DNI,4171534,27041715346,TEL.FIJO,PERSONAL,1146871791,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
2,DNI 4171534,DNI,4171534,27041715346,TEL.CELULAR,PERSONAL,1161078686,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
3,RMS379977155103007,DNI,4173550,20041735504,TEL.FIJO,PERSONAL,1143729113,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
4,RMS379977155103007,DNI,4173550,20041735504,TEL.CELULAR,PERSONAL,1136028479,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0

In [4]:
df.shape

(1913, 14)

In [5]:
df = df.drop_duplicates()

In [6]:
df.shape

(1913, 14)

## Dato a str + strip()

In [7]:
df ['DATO'] = df['DATO'].astype(str)

In [8]:
df['DATO'] = df['DATO'].str.strip()

## Verificados

Si verificado es false, pasamos a NaN la fecha de verificaci√≥n

In [9]:
df.loc[df['VERIFICADO'] == 0, 'FECHA_VERIFICACION'] = np.nan

In [10]:
df.tail()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
1908,DNI 41853840,DNI,41853840,27418538401,TEL.FIJO,PERSONAL,2234825816,Ajeno,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
1909,DNI 43311146,DNI,43311146,27433111465,TEL.FIJO,PERSONAL,1142713468,Ajeno,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
1910,DNIE92972790,DNI,92972790,20929727909,TEL.FIJO,PERSONAL,1142729071,Ajeno,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
1911,DNIE94300255,DNI,94300255,27943002555,TEL.FIJO,PERSONAL,1145561719,Ajeno,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
1912,DNIE94671953,DNI,94671953,27946719531,TEL.FIJO,PERSONAL,2974999396,Ajeno,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0

# Subset: Duplicados

Me quedo con los todos los que tienen duplicados la combinatoria IDMOROSO, DATO y PROVEEDOR DATO, y reviso qu√© pasa en cada caso

In [11]:
duplicates_subset = df[df.duplicated(subset=['IDMOROSO','DATO','PROVEEDOR_DATO'],keep=False)]

In [12]:
duplicates_subset.head()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
7,DNI 4553548,DNI,4553548,27045535482,TEL.FIJO,PERSONAL,1142275223,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
10,DNI 4553548,DNI,4553548,27045535482,TEL.FIJO,PERSONAL,1142275223,Ajeno_familiar,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
16,RMS376710296861008,DNI,5255032,27052550322,TEL.FIJO,PERSONAL,1147745633,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
17,RMS376710296861008,DNI,5255032,27052550322,TEL.FIJO,PERSONAL,1147745633,Ajeno_familiar,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
18,DNI 5592216,DNI,5592216,27055922166,TEL.FIJO,PERSONAL,1144623807,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0

In [13]:
duplicates_subset.shape

(234, 14)

In [14]:
#duplicates_subset[duplicates_subset['VERIFICADO'] == True]

# 1. Puntajes

Asignamos puntajes a cada posible dato que aparezca en las categor√≠as:

- Tipo.
- Subtipo.
- Propietario
- Verificaci√≥n

In [15]:
duplicates_subset.loc[duplicates_subset['VERIFICADO'] == 1, 'PUNTAJE_VERIFICADO'] = 6

/home/dleg/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/pandas/core/indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/home/dleg/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [16]:
duplicates_subset.loc[duplicates_subset['VERIFICADO'] == 0, 'PUNTAJE_VERIFICADO'] = 0

/home/dleg/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [17]:
duplicates_subset.loc[duplicates_subset['PROPIETARIO_DATO'] == 'Propio', 'PUNTAJE_PROPIETARIO'] = 5

/home/dleg/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/pandas/core/indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)

In [18]:
duplicates_subset.loc[duplicates_subset['PROPIETARIO_DATO'] == 'Ajeno_familiar', 'PUNTAJE_PROPIETARIO'] = 4

In [19]:
duplicates_subset.loc[duplicates_subset['PROPIETARIO_DATO'] == 'Ajeno_empleador', 'PUNTAJE_PROPIETARIO'] = 3

In [20]:
duplicates_subset.loc[duplicates_subset['PROPIETARIO_DATO'] == 'Ajeno', 'PUNTAJE_PROPIETARIO'] = 2

In [21]:
duplicates_subset.loc[duplicates_subset['SUBTIPO'] == 'PERSONAL', 'PUNTAJE_TIPO'] = 2

In [22]:
duplicates_subset.loc[duplicates_subset['SUBTIPO'] == 'LABORAL', 'PUNTAJE_TIPO'] = 0

In [23]:
duplicates_subset.loc[duplicates_subset['TIPO'] == 'EMAIL', 'PUNTAJE_SUBTIPO'] = 4

In [24]:
duplicates_subset.loc[duplicates_subset['TIPO'] == 'TEL.FIJO', 'PUNTAJE_SUBTIPO'] = 2

In [25]:
duplicates_subset.loc[duplicates_subset['TIPO'] == 'TEL.CELULAR', 'PUNTAJE_SUBTIPO'] = 4

## Suma de Puntajes

In [26]:
columns_to_sum = ['PUNTAJE_VERIFICADO','PUNTAJE_PROPIETARIO','PUNTAJE_TIPO','PUNTAJE_SUBTIPO']

In [27]:
duplicates_subset['PUNTAJE_TOTAL'] = duplicates_subset[columns_to_sum].sum(axis=1)

<ipython-input-27-0ec8c926888a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  duplicates_subset['PUNTAJE_TOTAL'] = duplicates_subset[columns_to_sum].sum(axis=1)

In [28]:
duplicates_subset.head()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO,PUNTAJE_VERIFICADO,PUNTAJE_PROPIETARIO,PUNTAJE_TIPO,PUNTAJE_SUBTIPO,PUNTAJE_TOTAL
7,DNI 4553548,DNI,4553548,27045535482,TEL.FIJO,PERSONAL,1142275223,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0,9.0
10,DNI 4553548,DNI,4553548,27045535482,TEL.FIJO,PERSONAL,1142275223,Ajeno_familiar,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0,0.0,4.0,2.0,2.0,8.0
16,RMS376710296861008,DNI,5255032,27052550322,TEL.FIJO,PERSONAL,1147745633,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0,9.0
17,RMS376710296861008,DNI,5255032,27052550322,TEL.FIJO,PERSONAL,1147745633,Ajeno_familiar,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0,0.0,4.0,2.0,2.0,8.0
18,DNI 5592216,DNI,5592216,27055922166,TEL.FIJO,PERSONAL,1144623807,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0,9.0

In [29]:
duplicates_subset.shape

(234, 19)

In [30]:
df

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
0,DNI 4171534,DNI,4171534,27041715346,TEL.FIJO,PERSONAL,1142089570,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
1,DNI 4171534,DNI,4171534,27041715346,TEL.FIJO,PERSONAL,1146871791,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
2,DNI 4171534,DNI,4171534,27041715346,TEL.CELULAR,PERSONAL,1161078686,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
3,RMS379977155103007,DNI,4173550,20041735504,TEL.FIJO,PERSONAL,1143729113,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
4,RMS379977155103007,DNI,4173550,20041735504,TEL.CELULAR,PERSONAL,1136028479,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1908,DNI 41853840,DNI,41853840,27418538401,TEL.FIJO,PERSONAL,2234825816,Ajeno,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
1909,DNI 43311146,DNI,43311146,27433111465,TEL.FIJO,PERSONAL,1142713468,Ajeno,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
1910,DNIE92972790,DNI,92972790,20929727909,TEL.FIJO,PERSONAL,1142729071,Ajeno,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
1911,DNIE94300255,DNI,94300255,27943002555,TEL.FIJO,PERSONAL,1145561719,Ajeno,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
1912,DNIE94671953,DNI,94671953,27946719531,TEL.FIJO,PERSONAL,2974999396,Ajeno,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0

## Agrupo

In [31]:
#duplicates_subset['ID'] = duplicates_subset['ID'].astype(str)

In [32]:
df_best = duplicates_subset.groupby(['IDMOROSO','DATO','PROVEEDOR_DATO'], as_index = False).max(numeric_only=True)

In [33]:
df_best

,IDMOROSO,DATO,PROVEEDOR_DATO,NRO_DOC,CUIT_CUIL,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO,PUNTAJE_VERIFICADO,PUNTAJE_PROPIETARIO,PUNTAJE_TIPO,PUNTAJE_SUBTIPO,PUNTAJE_TOTAL
0,DNI 10605197,1146861823,AD,10605197,20106051977,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0,9.0
1,DNI 11465214,3424892833,AD,11465214,20114652149,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0,9.0
2,DNI 12937737,1141757819,AD,12937737,20129377373,0,NaN,NaN,2.0,0.0,5.0,2.0,4.0,11.0
3,DNI 14095164,1142494483,AD,14095164,20140951642,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0,9.0
4,DNI 16571979,2374627166,AD,16571979,23165719794,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,RMS376688790431009,1144680256,AD,7698616,23076986169,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0,9.0
111,RMS376710296861008,1147745633,AD,5255032,27052550322,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0,9.0
112,RMS376710889232005,3462431846,AD,18433456,23184334569,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0,9.0
113,RMS376711042492007,1147626691,AD,92545935,20925459357,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0,9.0
114,RMS379975022111005,1156261111,AD,17824698,23178246984,0,NaN,NaN,2.0,0.0,5.0,2.0,4.0,11.0

# Join

In [34]:
df_joined = pd.merge(duplicates_subset,df_best,on=['IDMOROSO','DATO','PROVEEDOR_DATO','PUNTAJE_TOTAL'])

In [35]:
df_joined.shape

(115, 29)

In [36]:
df_joined.head(10)

,IDMOROSO,TIPO_DOC,NRO_DOC_x,CUIT_CUIL_x,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,...,NRO_DOC_y,CUIT_CUIL_y,VERIFICADO_y,FECHA_VERIFICACION_y,OPERADOR_VERIFICACION_y,SCORE_DATO_y,PUNTAJE_VERIFICADO_y,PUNTAJE_PROPIETARIO_y,PUNTAJE_TIPO_y,PUNTAJE_SUBTIPO_y
0,DNI 4553548,DNI,4553548,27045535482,TEL.FIJO,PERSONAL,1142275223,Propio,AD,2021-03-18 12:25:51.840208,...,4553548,27045535482,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0
1,RMS376710296861008,DNI,5255032,27052550322,TEL.FIJO,PERSONAL,1147745633,Propio,AD,2021-03-18 12:25:51.840208,...,5255032,27052550322,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0
2,DNI 5592216,DNI,5592216,27055922166,TEL.FIJO,PERSONAL,1144623807,Propio,AD,2021-03-18 12:25:51.840208,...,5592216,27055922166,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0
3,DNI 6409139,DNI,6409139,27064091390,TEL.FIJO,PERSONAL,1146350323,Propio,AD,2021-03-18 12:25:51.840208,...,6409139,27064091390,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0
4,RMS376688790431009,DNI,7698616,23076986169,TEL.FIJO,PERSONAL,1144680256,Propio,AD,2021-03-18 12:25:51.840208,...,7698616,23076986169,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0
5,RMS376413535023007,DNI,8273973,20082739735,TEL.FIJO,PERSONAL,1147389014,Propio,AD,2021-03-18 12:25:51.840208,...,8273973,20082739735,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0
6,RMS376635010093002,DNI,8273973,20082739735,TEL.FIJO,PERSONAL,1147389014,Propio,AD,2021-03-18 12:25:51.840208,...,8273973,20082739735,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0
7,DNI 10605197,DNI,10605197,20106051977,TEL.FIJO,PERSONAL,1146861823,Propio,AD,2021-03-18 12:25:51.840208,...,10605197,20106051977,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0
8,RMS376636725322009,DNI,10678367,20106783676,TEL.FIJO,PERSONAL,1142364303,Propio,AD,2021-03-18 12:25:51.840208,...,10678367,20106783676,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0
9,DNI 11465214,DNI,11465214,20114652149,TEL.FIJO,PERSONAL,3424892833,Propio,AD,2021-03-18 12:25:51.840208,...,11465214,20114652149,0,NaN,NaN,2.0,0.0,5.0,2.0,2.0

# Duplicados con diferentes fechas de ingreso

In [37]:
duplicates_fecha = df_joined[df_joined.duplicated(subset=['IDMOROSO','DATO','PROVEEDOR_DATO'],keep=False)]

In [38]:
duplicates_fecha = duplicates_fecha.sort_values('FECHA_INGRESO_DATO').drop_duplicates('IDMOROSO',keep='first')

# Append

In [39]:
df_joined = df_joined[['IDMOROSO','TIPO_DOC','NRO_DOC_x','CUIT_CUIL_x','TIPO','SUBTIPO','DATO','PROPIETARIO_DATO'
                               ,'PROVEEDOR_DATO','FECHA_INGRESO_DATO','VERIFICADO_x','FECHA_VERIFICACION_x'
                               ,'OPERADOR_VERIFICACION_x','SCORE_DATO_x']]

In [40]:
df_joined.head()

,IDMOROSO,TIPO_DOC,NRO_DOC_x,CUIT_CUIL_x,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO_x,FECHA_VERIFICACION_x,OPERADOR_VERIFICACION_x,SCORE_DATO_x
0,DNI 4553548,DNI,4553548,27045535482,TEL.FIJO,PERSONAL,1142275223,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
1,RMS376710296861008,DNI,5255032,27052550322,TEL.FIJO,PERSONAL,1147745633,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
2,DNI 5592216,DNI,5592216,27055922166,TEL.FIJO,PERSONAL,1144623807,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
3,DNI 6409139,DNI,6409139,27064091390,TEL.FIJO,PERSONAL,1146350323,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
4,RMS376688790431009,DNI,7698616,23076986169,TEL.FIJO,PERSONAL,1144680256,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0

In [41]:
df_joined.shape

(115, 14)

In [42]:
df_joined = df_joined.rename(columns={"VERIFICADO_x": "VERIFICADO", "SCORE_DATO_x": "SCORE_DATO"
                                     ,'NRO_DOC_x': 'NRO_DOC','CUIT_CUIL_x':'CUIT_CUIL'
                                     ,'FECHA_VERIFICACION_x':'FECHA_VERIFICACION'})

In [43]:
df_joined = df_joined[~df_joined.duplicated(subset=['IDMOROSO','DATO','PROVEEDOR_DATO'],keep=False)]

In [44]:
df_joined.shape

(115, 14)

In [45]:
duplicates_fecha = duplicates_fecha[['IDMOROSO','TIPO_DOC','NRO_DOC_x','CUIT_CUIL_x','TIPO','SUBTIPO','DATO','PROPIETARIO_DATO'
                               ,'PROVEEDOR_DATO','FECHA_INGRESO_DATO','VERIFICADO_x','FECHA_VERIFICACION_x'
                               ,'OPERADOR_VERIFICACION_x','SCORE_DATO_x']]

In [46]:
duplicates_fecha.shape

(0, 14)

In [47]:
duplicates_fecha = duplicates_fecha.rename(columns={"VERIFICADO_x": "VERIFICADO", "SCORE_DATO_x": "SCORE_DATO"})

Dataframe inicial sin los duplicados

In [48]:
df.shape

(1913, 14)

In [49]:
non_duplicates = df[~df.duplicated(subset=['IDMOROSO','DATO','PROVEEDOR_DATO'],keep=False)]

In [50]:
non_duplicates.shape

(1679, 14)

Unimos los 3 dataframes y revisamos que no haya duplicados en el mismo subset IDMOROSO-DATO-PROVEEDOR

In [51]:
non_duplicates = non_duplicates.dropna(subset=['DATO'])

In [52]:
non_duplicates [non_duplicates['NRO_DOC'].isnull()]

Empty DataFrame
Columns: [IDMOROSO, TIPO_DOC, NRO_DOC, CUIT_CUIL, TIPO, SUBTIPO, DATO, PROPIETARIO_DATO, PROVEEDOR_DATO, FECHA_INGRESO_DATO, VERIFICADO, FECHA_VERIFICACION, OPERADOR_VERIFICACION, SCORE_DATO]
Index: []

In [53]:
non_duplicates.head()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
0,DNI 4171534,DNI,4171534,27041715346,TEL.FIJO,PERSONAL,1142089570,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
1,DNI 4171534,DNI,4171534,27041715346,TEL.FIJO,PERSONAL,1146871791,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
2,DNI 4171534,DNI,4171534,27041715346,TEL.CELULAR,PERSONAL,1161078686,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
3,RMS379977155103007,DNI,4173550,20041735504,TEL.FIJO,PERSONAL,1143729113,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
4,RMS379977155103007,DNI,4173550,20041735504,TEL.CELULAR,PERSONAL,1136028479,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0

**S√ìLO** concateno estos dos porque DUPLICATES_FECHA tiene nulls. Sino, hay que concatenar todos.

In [54]:
#df_export = pd.concat([non_duplicates,df_joined,duplicates_fecha])
df_export = pd.concat([non_duplicates,df_joined])

In [55]:
df_export.head()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO,OPERADOR_VERIFICACION_x
0,DNI 4171534,DNI,4171534,27041715346,TEL.FIJO,PERSONAL,1142089570,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0,NaN
1,DNI 4171534,DNI,4171534,27041715346,TEL.FIJO,PERSONAL,1146871791,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0,NaN
2,DNI 4171534,DNI,4171534,27041715346,TEL.CELULAR,PERSONAL,1161078686,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0,NaN
3,RMS379977155103007,DNI,4173550,20041735504,TEL.FIJO,PERSONAL,1143729113,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0,NaN
4,RMS379977155103007,DNI,4173550,20041735504,TEL.CELULAR,PERSONAL,1136028479,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0,NaN

In [56]:
df_export.shape

(1794, 15)

# QA Duplicados

In [57]:
qa_duplicados = df_export[df_export.duplicated(subset=['IDMOROSO','DATO','PROVEEDOR_DATO'],keep=False)]

In [58]:
qa_duplicados

Empty DataFrame
Columns: [IDMOROSO, TIPO_DOC, NRO_DOC, CUIT_CUIL, TIPO, SUBTIPO, DATO, PROPIETARIO_DATO, PROVEEDOR_DATO, FECHA_INGRESO_DATO, VERIFICADO, FECHA_VERIFICACION, OPERADOR_VERIFICACION, SCORE_DATO, OPERADOR_VERIFICACION_x]
Index: []

In [59]:
df_export.head()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO,OPERADOR_VERIFICACION_x
0,DNI 4171534,DNI,4171534,27041715346,TEL.FIJO,PERSONAL,1142089570,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0,NaN
1,DNI 4171534,DNI,4171534,27041715346,TEL.FIJO,PERSONAL,1146871791,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0,NaN
2,DNI 4171534,DNI,4171534,27041715346,TEL.CELULAR,PERSONAL,1161078686,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0,NaN
3,RMS379977155103007,DNI,4173550,20041735504,TEL.FIJO,PERSONAL,1143729113,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0,NaN
4,RMS379977155103007,DNI,4173550,20041735504,TEL.CELULAR,PERSONAL,1136028479,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0,NaN

In [60]:
df_export['VERIFICADO'].value_counts()

0    1794
Name: VERIFICADO, dtype: int64

In [61]:
non_duplicates['VERIFICADO'].value_counts()

0    1679
Name: VERIFICADO, dtype: int64

In [62]:
df_joined['VERIFICADO'].value_counts()

0    115
Name: VERIFICADO, dtype: int64

In [63]:
duplicates_fecha['VERIFICADO'].value_counts()

Series([], Name: VERIFICADO, dtype: int64)

# Export a DAM_CONTACTABILIDAD

In [64]:
df_export = df_export[['IDMOROSO', 'TIPO_DOC','NRO_DOC','CUIT_CUIL','TIPO','SUBTIPO','DATO','PROPIETARIO_DATO','PROVEEDOR_DATO','FECHA_INGRESO_DATO','VERIFICADO','FECHA_VERIFICACION','OPERADOR_VERIFICACION','SCORE_DATO']]

In [65]:
df_export.head()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
0,DNI 4171534,DNI,4171534,27041715346,TEL.FIJO,PERSONAL,1142089570,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
1,DNI 4171534,DNI,4171534,27041715346,TEL.FIJO,PERSONAL,1146871791,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
2,DNI 4171534,DNI,4171534,27041715346,TEL.CELULAR,PERSONAL,1161078686,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
3,RMS379977155103007,DNI,4173550,20041735504,TEL.FIJO,PERSONAL,1143729113,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0
4,RMS379977155103007,DNI,4173550,20041735504,TEL.CELULAR,PERSONAL,1136028479,Propio,AD,2021-03-18 12:25:51.840208,0,NaN,NaN,2.0

In [66]:
df_export.to_csv('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Insiders/Exports/DAM_CONTACTABILIDAD/DAM_CONTACTABILIDAD_TELEFONOS_1803.csv',index=False)